.Lo_tel .el-form-item__content{
    border: none;
}
.tel .el-input__inner{
    border-radius: 20px;
    
}
.Lo_pass .el-form-item__content{
    border: none;
}
.pas .el-input__inner{
    border-radius: 20px;
}
div .el-form-item__error{
    left: 2%;
}
.Lo_lo .el-form-item__content{
    border: none;
}
.Re_tel .el-form-item__content{
    border: none;
}
.Re_pas .el-form-item__content{
    border: none;
}
.Re_re .el-form-item__content{
    border: none;
}
.login{
    border: none;
}
.register{
    border: none;
}
.re{
    border:none
}
.lo{
    border:none
}
input[type="file"]{
    display: none;
}
.el-upload-list--picture-card .el-upload-list__item{
    margin-top: 20px;
}
.el-upload-list--picture-card .el-upload-list__item{
    float: left;
}

.el-upload--picture-card{
    float: left;
    height: 170px;
}
/* 这里的设置弹窗消息没有起到作用效果，在add_Dev.vue中有设置到*/
.el-message-box{
    width: 340px;
}
.el-button--mini, .el-button--small{
    border: none;
}
.el-button--primary{
    /* background-color: #697CAD !important; */
    background-color: red !important;
    color: rgb(255, 255, 255) !important;
    border: none !important;
}
/* Sensor importance style */
.el-select .el-input__inner{
    background-color:  #605051;
    border: none;
    color: rgb(255, 255, 255);
}

.el-form-item__content{
    border: 1px #43314F solid;
    border-radius: 4px;
}
.Time{
    width: 50% !important;
    color: rgb(0, 0, 0);
    height: 42px;
   
}
.time_interval{
display: flex;
padding-top: 10px;
}
.Num .el-input__inner{
    height: 35px;
    width: 80%;
    border-radius: 0 0 1px 0 ;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px rgb(5, 5, 5) solid;
    color: white;
    text-align: center;
    padding-left: 5px;
    padding-right: 20px;

}
.Num_con{
    width: 200px !important;
    height: 41px;
    background-color:  rgb(255, 255, 255) !important;
    border: 1px solid;
    color: black !important;
    border-radius: 6px;
   
    margin-left: 5%;
    margin-right: 7%;
}
.Num_con .el-input__inner{
    background-color:  #ffffff;
    color: rgb(7, 7, 7);
}

.Time_con{
    width: 180px !important;
    height: 41px;
    background-color:  rgb(255, 255, 255) !important;
    border: 1px solid;
    color: black !important;
    border-radius: 6px;
   
    margin-left: -5%;
    margin-right: 7%;
}
.Time_con .el-input__inner{
    background-color:  #ffffff;
    color: rgb(7, 7, 7);
}
.el-collapse-item__header{
    /* background-color: #D4000b !important; */
    background-color: #5a595b !important;
    color: white !important;
}
.el-date-range-picker{
    width: 85.5% !important;
}
.el-date-range-picker .el-picker-panel__body {
    min-width: 85.5%;
}
.el-date-range-picker__header div {
    font-size: 10px;
    font-weight: 500;
    
    width: 100%;
}
.el-date-range-picker__content .el-date-range-picker__header div{
    margin-left: 0 !important;
}
.el-date-range-picker .el-picker-panel__body {
    min-width: 90% !important;
}
.el-date-range-picker__header div {
    font-size: 10px !important;
    font-weight: 500;
    
}
.el-input.is-disabled .el-input__inner {
    background-color: rgb(96 80 81) !important;
    border-color: rgb(96 80 81) !important;
    color: #C0C4CC;
    cursor: not-allowed;
    border-radius: 0 0 0 0 !important;
}
.el-select-dropdown__item.is-disabled {
    color: #C0C4CC;
    cursor: not-allowed;
    display: none;
}