<template>
  <div class="container">
    <div class="row">
      <div
        class="col-xs-2 col-xs-offset-3 block"
        @click="select_1()"
        :style="{ color: textColor_1, background: backgroundcolor_1 }"
      >
        today
      </div>
      <div
        class="col-xs-2  block"
        @click="select_2()"
        :style="{ color: textColor_2, background: backgroundcolor_2 }"
      >
        3&nbsp;days
      </div>
      <div
        class="col-xs-2  block"
        @click="select_3()"
        :style="{ color: textColor_3, background: backgroundcolor_3 }"
      >
        7&nbsp;days
      </div>
      <!-- <div class="col-xs-2  block" @click="select_4()" :style="{color: textColor_4,background:backgroundcolor_4}">4</div>
            <div class="col-xs-2  block" @click="select_5()" :style="{color: textColor_5,background:backgroundcolor_5}">5</div>
            <div class="col-xs-2  block" @click="select_6()" :style="{color: textColor_6,background:backgroundcolor_6}">6</div> -->
    </div>
    <div>
      <div id="myChart" :style="{ width: '100%', height: '250px' }"></div>
    </div>

    <div :style="{ width: '100%', height: '230px' }" id="NoneDataContent">
      <img src="../assets/empty.png" style="margin-top:10px" />
      <div style="color:white; white-space: pre-wrap">
        No data temporarily, please check after 24 hours.
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Tenth",
  data() {
    return {
      Time_control: {
        time: "",
      },
      data_sensor_info: {
        usertel: window.sessionStorage.getItem("usertel"),
        sensorname: window.sessionStorage.getItem("current_name"),
        timetype: "1",
        sensortype: "10",
        nowtime:Date.now()/1000,
      
        // nowtime: "1661958437.0",
      },
      all_time_details: [],
      all_data_details: [],
      all_time_details_exist: false,

      textColor_1: "rgb(29, 112, 184)",
      backgroundcolor_1: "floralwhite",

      textColor_2: "rgb(29, 112, 184)",
      backgroundcolor_2: "floralwhite",

      textColor_3: "rgb(29, 112, 184)",
      backgroundcolor_3: "floralwhite",

      textColor_4: "rgb(29, 112, 184)",
      backgroundcolor_4: "floralwhite",

      textColor_5: "rgb(29, 112, 184)",
      backgroundcolor_5: "floralwhite",

      textColor_6: "rgb(29, 112, 184)",
      backgroundcolor_6: "floralwhite",

      yMax: 500,
      dataShadow: [],
      zoomSize: 6,
      category: "",
      lineDate: "",
      barData: "",
    };
  },
  mounted() {
    this.select_1();
    this.drawLine();
  },
  created() {},
  methods: {
    drawLine() {
      this.$axios
        .post(`/view/get_db_data`, this.$qs.stringify(this.data_sensor_info))
        .then((res) => {
          //this.getStatus_6()

          //get backend return data
          let str = res.data;
          let success = res.data["success"];
          let code = res.data["code"];
          let msg = res.data["msg"];
          this.all_time_details = res.data["all_time_details"];
          this.all_data_details = res.data["all_data_details"];
          let YData = res.data.all_data_details;

          let all_time_details_str = [];

          if (!this.all_time_details.length) {
            //  this.all_time_details_exist=false
            let mychart = document.getElementById("myChart");
            let nonedata = document.getElementById("NoneDataContent");
            mychart.style.display = "none";
            nonedata.style.display = "block";
            return;
          } else {
            //  this.all_time_details_exist=true
            let mychart = document.getElementById("myChart");
            let nonedata = document.getElementById("NoneDataContent");
            mychart.style.display = "block";
            nonedata.style.display = "none";
          }

          for (let i = 0; i < this.all_time_details.length; i++) {
            //   let date = new Date((dottedBase += 3600 * 24* 1000));
            var date = new Date(this.all_time_details[i] * 1000);
            all_time_details_str.push(
              [
                date.getMonth() + 1,
                date.getDate(),
                date.getHours() + ":" + date.getMinutes(),
              ].join("-")
            );
          }

          for (let i = 0; i < this.all_data_details.length; i++) {
            this.dataShadow.push(this.yMax);
          }
          var chartDom = document.getElementById("myChart");
          var myChart = this.$echarts.init(chartDom);

          var option = {
            //backgroundColor: '#0f375f',
            title: {
              text: "Button Clean Press",
              //subtext: 'Feature Sample: Gradient Color, Shadow, Click Zoom'
              textStyle: {
                fontSize: 18,
                fontWeight: "bolder",
                color: "white",
              },
              x: "center",
              y: "top",
              left: "center",
            },
            // grid: {
            //   x: 200,
            //   y: 55,
            //   x2: 5,
            //   y2: 20,
            //   borderWidth: 1,
            // },
            tooltip: {
              trigger: "axis",
              axisPointer: {
                type: "shadow",
              },
            },
            legend: {
              data: ["line", "bar"],
              textStyle: {
                color: "#ccc",
              },
              x: "right",
              y: "30",
            },
            xAxis: {
              data: all_time_details_str,
              axisLine: {
                lineStyle: {
                  color: "#ccc",
                },
              },
            },

            yAxis: {
              splitLine: { show: false },
              axisLine: {
                lineStyle: {
                  color: "#ccc",
                },
              },
              min: 0,
              max: 1,
              axisLabel: {
                formatter: function(value) {
                  var texts = [];
                  if (value == 0) {
                    texts.push("OFF");
                  } else if (value == 0.2) {
                    texts.push(" ");
                  } else if (value == 0.4) {
                    texts.push(" ");
                  } else if (value == 0.6) {
                    texts.push(" ");
                  } else if (value == 0.8) {
                    texts.push(" ");
                  } else {
                    texts.push("ON");
                  }
                  return texts;
                },
              },
            },
            dataZoom: [
              {
                type: "inside",
              },
            ],
            series: [
              {
                name: "line",
                type: "line",
                smooth: true,
                showAllSymbol: true,
                symbol: "emptyCircle",
                itemStyle: {
                  color: "#D9D9D9",
                },
                symbolSize: 15,
                data: this.all_data_details,
              },

              {
                name: "bar",
                type: "bar",
                barWidth: 10,
                itemStyle: {
                  borderRadius: 5,
                  color: this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [
                    { offset: 1, color: "#43eec6" },
                    { offset: 0, color: "#14c8d4" },
                  ]),
                },
                data: this.all_data_details,
              },

              {
                name: "line",
                type: "bar",
                barGap: "-100%",
                barWidth: 10,
                itemStyle: {
                  color: this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [
                    { offset: 0, color: "rgba(20,200,212,0)" },
                    { offset: 0.2, color: "rgba(20,200,212,0.2)" },
                    { offset: 1, color: "rgba(20,200,212,0.5)" },
                  ]),
                },

                data: this.all_data_details,
              },
              {
                name: "dotted",
                //type: 'pictorialBar',
                symbol: "rect",
                itemStyle: {
                  color: "#D9D9D9",
                },
                symbolRepeat: true,
                symbolSize: [12, 4],
                symbolMargin: 1,

                data: this.all_data_details,
              },
            ],
          };

          myChart.on("click", function(params) {
            //console.log(this.all_time_details[Math.max(params.dataIndex - this.zoomSize / 2, 0)]);
            console.log(params.dataIndex);
            myChart.dispatchAction({
              type: "dataZoom",
              startValue: Math.max(params.dataIndex - 3, 0),
              endValue: Math.min(params.dataIndex + 3, 5),
            });
          });

          option && myChart.setOption(option);

          console.log(str);
          console.log(this.all_data_details);
          console.log(this.all_time_details);
        });
    },
    select_1() {
      this.Time_control.time = "1";
      this.data_sensor_info.timetype = "1";

      (this.textColor_1 = "floralwhite"),
        (this.backgroundcolor_1 = "rgb(29, 112, 184)");

      (this.textColor_2 = ""), (this.backgroundcolor_2 = "");

      (this.textColor_3 = ""), (this.backgroundcolor_3 = "");

      (this.textColor_4 = ""), (this.backgroundcolor_4 = "");

      (this.textColor_5 = ""), (this.backgroundcolor_5 = "");

      (this.textColor_6 = ""), (this.backgroundcolor_6 = "");
      console.log(this.Time_control.time);

      this.drawLine();
    },
    select_2() {
      this.Time_control.time = "2";
      this.data_sensor_info.timetype = "2";

      (this.textColor_2 = "floralwhite"),
        (this.backgroundcolor_2 = "rgb(29, 112, 184)");
      (this.textColor_1 = ""), (this.backgroundcolor_1 = "");
      (this.textColor_3 = ""), (this.backgroundcolor_3 = "");
      (this.textColor_4 = ""), (this.backgroundcolor_4 = "");
      (this.textColor_5 = ""), (this.backgroundcolor_5 = "");
      (this.textColor_6 = ""), (this.backgroundcolor_6 = "");

      this.drawLine();
    },
    select_3() {
      this.Time_control.time = "3";
      this.data_sensor_info.timetype = "3";

      (this.textColor_3 = "floralwhite"),
        (this.backgroundcolor_3 = "rgb(29, 112, 184)");
      (this.textColor_1 = ""), (this.backgroundcolor_1 = "");
      (this.textColor_2 = ""), (this.backgroundcolor_2 = "");
      (this.textColor_4 = ""), (this.backgroundcolor_4 = "");
      (this.textColor_5 = ""), (this.backgroundcolor_5 = "");
      (this.textColor_6 = ""), (this.backgroundcolor_6 = "");

      this.drawLine();
    },
  },
};
</script>
<style scoped>
.block {
  color: rgb(191, 80, 219);
  color: rgb(29, 112, 184);
  border: rgb(29, 112, 184) 1px solid;
  background-color: floralwhite;
  border-radius: 4px;
  text-align: center;
}
.col-xs-2 {
  padding-left: 8px;
}

#myChart {
  margin-top: 30px;
}

#NoneDataContent {
  display: none;
}
</style>