<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC58ayVz2HnsbIF76GVkTuNk6s9qZ-5qeM"
      async
    ></script>
  </body>
</html>
