<template>
    <div class="container-fluid">
        <!--Navigation Bar-->
        <div class="row Nav">
            <div class="col-xs-6 col-sm-6 col-md-4">
              Analytics Sensor
            </div>
            <div class="col-xs-2 col-xs-offset-2 col-sm-2 col-sm-offset-3 col-md-2 col-md-offset-5">
              <el-dropdown trigger="hover">
                <span class="el-dropdown-link">
                <el-button icon="el-icon-s-operation" size="small" circle></el-button>
                </span>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item><router-link to="/contr_dev">Control Device</router-link></el-dropdown-item>
                  <el-dropdown-item><router-link to="/viewdata">Visual Device</router-link></el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            <!--
              <el-button icon="el-icon-s-operation" size="small" circle></el-button>
            -->
            </div>
            <div class="col-xs-2 col-sm-1 col-md-1">
              <i class="el-icon-switch-button"></i>
            </div>
        </div>
        <!--Google Map-->
        <div class="map">
          <div class="row Google_map">
              <!-- Map rendering -->
          </div>
        </div>

        <div class="row sensor">
           <div class="col-xs-1 col-sm-2 col-md-2">
              <i class="el-icon-caret-bottom"></i>
            </div>
            <div class="col-xs-10 col-sm-8 col-md-8">
                SENSORS
            </div>
        </div>
        <!--Add device -->
        <div class="add"> 
            <!--
            <el-upload
            action="#"
            list-type="picture-card"
            :auto-upload="false"
            ref="pictureUpload" class="upload">
                <i slot="default" class="el-icon-plus"></i>
                <div slot="file" slot-scope="{file}">
                <img
                    class="el-upload-list__item-thumbnail"
                    :src="file.url" alt=""
                >
                <span class="el-upload-list__item-actions">
                    <span
                    class="el-upload-list__item-preview"
                    @click="handlePictureCardPreview(file)"
                    >
                    <i class="el-icon-zoom-in"></i>
                    </span>
                    <span
                    v-if="!disabled"
                    class="el-upload-list__item-delete"
                    @click="handleDownload(file)"
                    >
                    <i class="el-icon-download"></i>
                    </span>
                    <span
                    v-if="!disabled"
                    class="el-upload-list__item-delete"
                    @click="handleRemove(file)"
                    >
                    <i class="el-icon-delete"></i>
                    </span>
                </span>
                </div>
            </el-upload>
            <el-dialog :visible.sync="dialogVisible">
                <img width="100%" :src="dialogImageUrl" alt="">
            </el-dialog>
            -->
            <div class="upload" @click="add_dev()">
                <i class="el-icon-plus"></i>
            </div>
        </div>
        <!-- 
          <div class="row sensor">
            <div class="col-xs-1 col-sm-2 col-md-2">
              <i class="el-icon-caret-bottom"></i>
            </div>
            <div class="col-xs-10 col-sm-8 col-md-8">
                HISTOGRAM
            </div>
        </div> 
        -->
</div>
</template>
<script>

export default ({
    name:'add_Dev',
    data() {
      return {
        dialogImageUrl: '',
        dialogVisible: false,
        disabled: false
      };
    },
    created(){
      
      //this.yourfunction()
    },
    methods: {
      
      // yourfunction(){
         
      // },
      handleRemove(file) {
        
         this.$refs.pictureUpload.handleRemove(file)
      },
      handlePictureCardPreview(file) {
        this.dialogImageUrl = file.url;
        this.dialogVisible = true;
      },
      handleDownload(file) {
        console.log(file);
      },
      add_dev(){
          this.$confirm('New sensors are found,Do you want to add?', 'Analytics Sensor', {
          confirmButtonText: 'YES',
          cancelButtonText: 'NO', 
        }).then(() => {
          this.$message({
            type: 'success',
            message: 'Added successfully!',
          });
          this.$router.push('/contr_dev')
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Added canceled!'
          });
        });
      
      
      
      }

    }
})
</script>
<style scoped>
html,body{
  margin: 0;
  padding: 0;
  
}
.container-fluid{
    background-color:  #F0F0F0
}
.Nav{
  font-size: 18px;
  font-weight: bold;
  background-color: #D4000b;
  height: 50px;
  line-height: 50px;
  color: white;
}
.map{
  width: 100%;
}
.Google_map{
  height: 200px;
  background-color: cornsilk;
}
.sensor{
    background-color: #D4000b;
    height: 50px;
    line-height: 50px;
    color: white;
}
.add{
    width: 100%;
    height: 280px;
}
.upload{
    margin-top: 20px;
    height: 250px;
    width: 40%;
    padding-bottom: 20px;
    background-color: wheat;
    line-height: 250px;
    cursor: pointer;
}
.el-upload--picture-card{
    margin-top: 20px;
    float: left;
}


</style>
<style >
.el-message-box{
    width: 90% !important;
}
.el-button--primary{
    background-color: white !important;
    color: tomato !important;
}
a {
  text-decoration: none;
}
 
.router-link-active {
  text-decoration: none;
}
</style>