<template>
    <div class="container-fluid">
        <div class="row Nav">
            <div class="col-xs-12 col-sm-12 col-md-12">
                Cranfield Circular Toilet
            </div>
            <!-- <div class="col-xs-2 col-xs-offset-1 col-sm-2 col-sm-offset-3 col-md-2 col-md-offset-5">
           
            </div> -->
            <div class="col-xs-3 col-sm-1 col-md-1">
              <span class="help" @click="Logout()">Log out</span>
            </div>
        </div>
        <div class="control">
            <div class="contr_title">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8">
                        <h3>Manage Sensor</h3>
                    </div>
                </div>       
            </div>
            <div class="row">
                <div class="col-xs col-sm-2 col-2">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                <el-form :model="ControlForm" status-icon ref="ConForm"  class="RegisterForm" :rules="rules">
                    <el-form-item  prop="TypeValue" class="FI">
                        <span class="sensor_type">Sensor Type</span>
                            <el-input v-model="Tvalue" placeholder="" :disabled="true" class="Name_protype"></el-input>
                            <!--
                            <el-option
                            v-for="item in options"
                            :key="item.Tvalue"
                            :label="item.label"
                            :value="item.Tvalue">
                            </el-option>
                            -->
                        
                    </el-form-item>                  
                    <el-form-item  prop="ImporValue" class="FI">
                        <span class="sensor_type">Sensor Importance</span>
                        <el-select v-model="Ivalue" placeholder="" @change="SensorImportance(Ivalue)">
                            <el-option
                            v-for="item in Ioptions"
                            :key="item.Ivalue"
                            :label="item.label"
                            :value="item.Ivalue">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <!-- <el-form-item  prop="Time" class="Inter">

                        <div class="row">
                            <div class="col-xs-8 col-sm-6 col-md-6">
                                <span class="sensor_type">Interval of time to record data</span>
                            </div>
                        </div>      
                        <div  class="" style="height:45px">             
                                <el-input v-model="ControlForm.Num" placeholder="" class="Num"></el-input>
                                <el-select v-model="Rvalue" placeholder="" @change="SensorTime(Rvalue)" class="Time">
                                    <el-option
                                    v-for="item in Roptions"
                                    :key="item.Rvalue"
                                    :label="item.label"
                                    :value="item.Rvalue">
                                    </el-option>
                                </el-select>   
                        </div>
                    </el-form-item> -->
                    <el-form-item prop="Svalue" class="FI">
                        <div class="row">
                            <div class="sensor_range">Safe Range</div>
                        </div>
                        <div class="row">
                            <el-slider
                                v-model="Svalue"
                                range
                                :min="-10"
                                :max="100"
                                class="Range"
                                
                                @change="Range(Svalue)">
                            </el-slider>
                        </div>
                    </el-form-item>
                    <el-form-item>
                        <div class="lo" @click="Control_dev">SAVE</div>
                    </el-form-item>
                </el-form>
                </div>
                <!-- <div class="col-xs col-sm-2 col-2">
                </div> -->
        
            </div>
              <div class="row copyright">
            Cranfield copyright (c) 2022
            </div>
        </div>

    </div>
</template>
<script>

export default ({
    name:'contr_Dev',
    props:['id'],
    data(){
        return{

            //current_sensor_name: window.sessionStorage.setItem('sensorname',this.id),
            rules:{
                
                //TypeValue:[{required: true}],
                //ImporValue:[{required: true}],
                Num:[{required: true}],
                //Time:[{required: true,message: 'Time interval is required'}],
                min_range:[{required: true}],
                max_range:[{required: true}],

            },
            ControlForm: {
                TypeValue:window.sessionStorage.getItem("sensortype_id"),//1
                ImporValue: '',
                Num:'',
                Time: '',
                min_range:'',
                max_range:'',
                Svalue:"",
                usertel: window.sessionStorage.getItem('usertel'),
                sensorname: window.sessionStorage.getItem('current_name')
            },
            // options: [{
            //     Tvalue: '1',
            //     label: 'Pump power states'
            //     }, {
            //     Tvalue: '2',
            //     label: 'Heater power states'
            //     }, {
            //     Tvalue: '3',
            //     label: 'Electricity consumption'
            //     }, {
            //     Tvalue: '4',
            //     label: 'Toilet usage / flushing frequency'
            //     }, {
            //     Tvalue: '5',
            //     label: 'Amount of liquid in liquid tanks'
            //     }, {
            //     Tvalue: '6',
            //     label: 'Amount of liquid in the clean water storage tank'
            //     }, {
            //     Tvalue: '7',
            //     label: 'Amount of solids in char box'
            //     }, {
            //     Tvalue: '8',
            //     label: 'Environmental humidity'
            //     }, {
            //     Tvalue: '9',
            //     label: 'Environmental temperature'
            //     }
            // ],
            Ioptions: [{
                Ivalue: '1',
                label: 'High'
                }, {
                Ivalue: '2',
                label: 'Middle'
                }, {
                Ivalue: '3',
                label: 'Low'
                }],
            Roptions: [{
                Rvalue: '1',
                label: 'minute(s)'
                }, {
                Rvalue: '2',
                label: 'hour(s)'
                }],
            Tvalue:window.sessionStorage.getItem("sensortype_name"),
            Ivalue:'High',
            Rvalue:'minute(s)',
            Svalue:[0,50],
            

        }
    },
    methods:{
        // SensorType(Tvalue){
        //     let obj = {}
        //     obj = this.options.find((item) => {
        //         return item.Tvalue === Tvalue
        //     })
	        
        //     //console.log(obj.label)
        //     this.ControlForm.TypeValue = parseInt(obj.Tvalue)
        //     console.log(this.ControlForm.TypeValue)
        // },
        SensorImportance(Ivalue){
            let obj = {}
            obj = this.Ioptions.find((item) => {
                return item.Ivalue === Ivalue
            })
	        
            //console.log(obj.label)
            this.ControlForm.ImporValue = parseInt(obj.Ivalue)
            console.log(this.ControlForm.ImporValue)
        },
        
        Range(Svalue){
            this.ControlForm.min_range = Svalue[0],
            this.ControlForm.max_range = Svalue[1]
            
            console.log(this.ControlForm.min_range),
            console.log(this.ControlForm.max_range)
            
        },
        Control_dev(){
            //  if(this.ControlForm.TypeValue && this.ControlForm.ImporValue &&  this.ControlForm.Num && this.ControlForm.Time && this.ControlForm.min_range && this.ControlForm.max_range && this.ControlForm.usertel && this.ControlForm.sensorname){
              if(this.ControlForm.TypeValue && this.ControlForm.ImporValue && this.ControlForm.min_range && this.ControlForm.max_range && this.ControlForm.usertel && this.ControlForm.sensorname){
                
                   this.$confirm('Set device properties successfully!', 'Analytics Sensor', {
                        confirmButtonText: 'OK',
                        cancelButtonText: 'NO',  
                        showCancelButton:false
                        }).then(() => {
               
                this.$axios.post(`/sensor/set_params`,this.$qs.stringify(this.ControlForm)).then(res=>{
                //this.getStatus_6()

                //get backend return data
                let str = res.data
                let success = res.data['success']
                let code = res.data['code']
                let msg = res.data['msg']
                console.log(str)

                if(code == '207'){
                  
                   this.$message({message: 'Set device properties successfully!',type: 'success'});
                   this.$router.push('/viewdata')
                   ///////////////////Hardware interaction//////////////////////////
                   ///////////////////Hardware interaction//////////////////////////
                   ///////////////////Hardware interaction//////////////////////////
                }

                if(code == '208'){
                   
                   this.$message({message: 'Set device properties successfully!',type: 'success'});
                   this.$router.push('/viewdata')
                    ///////////////////Hardware interaction//////////////////////////
                   ///////////////////Hardware interaction//////////////////////////
                   ///////////////////Hardware interaction//////////////////////////
                   
                }

                if(code == '517'){
                  
                  this.$message({message: 'Failed to set device properties,517',type: 'warning'});
                  return false
                }

                if(code == '518'){
                 
                  this.$message({message: 'Failed to set device properties,518',type: 'warning'});
                  return false
                }

                if(code == '519'){
                  
                  this.$message({message: 'Failed to set device properties,519',type: 'warning'});
                  return false
                }
                  });

                        }).catch(() => {
                            this.$message({
                                type: 'info',
                              
                                message: 'Unset new properties.'
                            });
                            });  
             }else{
                
                this.$message({message: 'Please set all properties and resubmit.',type: 'warning'});
                return false 
             }

        },

     

        Logout(){
            sessionStorage.clear();
            this.$router.push('/login')
        }

    }
})
</script>
<style scoped>
html,body{
  margin: 0;
  padding: 0;
  
}
.container-fluid{
    height: 100vh;
    background-color:  rgb(96 80 81)
}
.Nav{
  font-size: 18px;
  font-weight: bold;
  /* background-color: #7459A1; */
  background-color: #5a595b;
  height: 50px;
  line-height: 50px;
  color: white;
}
.el-select{
    width: 100%;
}
.contr_title{
text-align: left;
color: white;
}
.lo{
    width:100%;
    height: 40px;
    border-radius: 5px ;
    background-color: #EA5760;
    color: blanchedalmond;
    font-size: 18px;
    font-weight: bold;
}
.sensor_type{
    margin-left: 15px;
    float: left;
    color: white;
}
.sensor_range{
    margin-left: 30px;
    float: left;
    color: white;
}
.Num{
    width: 20%;
    height: 35px;
    float: left;
    left: 5px;
}
.Range{
    width: 80%;
    margin-left: 40px;
}
.help{
    color: white;
    font-size: 10px;
    cursor: pointer;
}

.copyright{
  height: 20px;
  background-color: #5a595b;
  line-height: 20px;
  text-align: right;
  font-size: 14px;
  color: white;
  padding: 0px 30px 0px 0px;
  margin-top: auto;
}

.col-md-1 {
    position: absolute;
    right: 0;
    width: 8.33333333%;
}

.FI{
    margin-bottom: 70px;
    margin-top: 70px;
}
</style>