<template>
    <div class="Container">
        <show-data
            v-for="item in sensorList" 
            :key="item"
            :Data="item"
        ></show-data>
    </div>
</template>

<script>

import ShowData from '@/components/ShowData'
export default ({
    name:'DataShowList',
    data(){
        return{
            sensorList:'',
            Data:{
                id:13425353,
                time:[131,4353,21343,1234,124,235,346,35,42,42,52,5,235,235,2,42,4,6,3],
                DataList:[1431,43453,211343,12324,1234,2435,346,35,42,452,52,5,235,2635,52,42,74,6,13]
            }
        }
    },
    created() {
        // fetch.get('/sensor_history/get_all_sensor_data_list').then(res=>{
        //     console.log(res)
        // }).catch(err=>{
        //     console.log(err)
        // })
        this.$axios.get('/sensor_history/get_all_sensor_type_list').then(res=>{
            console.log(res.data.sensor_type_list)
            this.sensorList = res.data.sensor_type_list
        }).catch(err=>{
            console.log(err)
        })
    },
    components:{
        ShowData
    },
    methods:{

    }
})
</script>

<style scoped>
.Container{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    box-sizing: border-box;
    padding: 20px;
}
</style>
