<template>
  <div class="container-fluid">
        <div class="row Nav">
            <div class="col-xs-12 col-sm-12 col-md-12">
              Cranfield Circular Toilet
            </div>

           <!-- <div class="col-xs-2 col-xs-offset-1 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-5">
            </div> -->
            <div class="col-xs-3 col-sm-2 col-md-1">
           <span class="help" @click="Logout()">Log out</span>
            </div>
        </div>
        <div class="map">
          <div class="row Google_map" id="allmap">
              <!-- Map rendering -->
             
          </div>
        </div>
        <div class="row Nav_1">
            <el-collapse accordionx v-model="activeNames">
                <el-collapse-item name="1">
                  <span class="collapse-title" slot="title">Cranfield Circular Toilet</span>
                  <!--Add device button -->
                  <div class="device">
                    <div class="add_device" v-for="(item,index) in old_dev_img" :key="index">
                    
                        <img :src="item.img" class="device_1" :title="item.index"  @click="control(item),outerVisible = true" >
                        <div>{{item.imgName}}</div>
                    
                     <el-dialog title="Analytic sensor" :visible.sync="outerVisible" width="90%" :value="item.imgName">
                      <el-dialog
                        width="80%"
                        title="Analytic sensor"
                        :visible.sync="innerVisible"
                        
                        append-to-body>
                        <span>Do you want to delete the device?</span>
                        <div slot="footer" class="dialog-footer">
                        <el-button @click="innerVisible = false ,cancel_delete()">Cancel</el-button>
                        <el-button type="primary" @click="innerVisible = false ,confirm_delete()">Confirm</el-button>
                      </div>
                      </el-dialog>
                      <span>Please choose the action for your device.</span>
                      <div slot="footer" class="dialog-footer">
                          <el-button @click="outerVisible = false ,View_dev()" size="small">View</el-button> 
                          <el-button @click="outerVisible = false ,Setting_dev()" size="small">Manage</el-button> 
                          <!-- <el-button type="primary" @click="innerVisible = true" size="small">Delete</el-button>  -->
                      </div>
                    </el-dialog>   
                    </div>
                    <div class="upload" @click="add_dev_QR()">
                      <i class="el-icon-plus"></i>
                    </div>
                  </div>
                  <!--Scan QR Code-->
                  <el-dialog
                    title="Please scan the code to add device!"
                    :visible.sync="QR_DialogVisible"
                    @closed="QR_decode_camera"
                    width="80%"
                    >
                    <div class="el-dialog-qr">
                        <qrcode 
                        @QR_result="receive"
                        @turnCameraOff="turnCameraOff"
                        :camera="camera" />
                    </div>
                  </el-dialog>
                </el-collapse-item>
              </el-collapse>
        </div>
        <!-- <div class="row Nav_2" @click="Toviewdata()">
            <span>HISTOGRAM</span>
        </div> -->
        <div class="row copyright">
            Cranfield copyright (c) 2022
        </div>
    </div>
</template>

<script>
import qrcode from "@/views/qrcode.vue"

export default {
  name: 'Home',
  components: {
    qrcode
  },
  data(){
    return{
        Rvalue:'',
        camera:'off',
        ControlForm: {
          Num:'',
          Time: '',
        },
        Control_interval_DialogVisible:false,
        QR_DialogVisible:false,
        current_name:'',
        outerVisible: false,
        innerVisible: false,
        activeNames:['1'],
        old_dev_img:[
          //{id:'',img:require(''),imgName:''},
          ],
        new_dev_img:{id:3,img:require('../assets/cube.png'),imgName:'sensor3'}, 
        map:null,
        data_sensor_info : {
          usertel: window.sessionStorage.getItem('usertel'),
          QR_result:'',
          sensorname: '',
          toilet_id: window.sessionStorage.getItem('toilet_id'),
        },        
        Roptions: [{
                Rvalue: '1',
                label: 'minute(s)'
                }, {
                Rvalue: '2',
                label: 'hour(s)'
                }],
        
        
    }
  },
  mounted(){
    
    this.initMap()
  },
  created(){
    this.getExitDev()
    this.getMyLocation()
  },
  methods:{
    QR_decode_camera(){
    this.camera = 'off'
  },
    turnCameraOff() {
      this.camera = 'off'
    },
    receive(data){
      this.data_sensor_info.QR_result = data
      setTimeout(()=>{
        this.QR_DialogVisible = false
      this.add_dev()
      },2000)
      this.camera = 'off'
        //console.log('Parameters from parent component: '+this.data_sensor_info.QR_result)
    },
    add_dev_QR(){
      this.QR_DialogVisible = true
      this.camera = 'auto'
    },
  
    getExitDev(){

      this.old_dev_img = [];  
      
      this.$axios.post(`/sensor/find_exit_dev`, this.$qs.stringify(this.data_sensor_info)).then(res=>{
                //this.getStatus_6()
               
                //get backend return data
                let str = res.data
                let success = res.data['success']
                let code = res.data['code']
                let msg = res.data['msg']
                let dev_num = res.data['dev_num']
                let dev_list = res.data['dev_list']
                console.log(str)

                if(dev_num != 0){
                  for(let i=0; i<=dev_num-1; i++){
                    let json_old_dev_img =  {id:'',img:'',imgName:''};
                    json_old_dev_img.id = i;
                    json_old_dev_img.img = require('../assets/cube.png');
                    json_old_dev_img.imgName = dev_list[i]
                    this.old_dev_img.push(json_old_dev_img)
                    
                  }
                }
                else{
                 this.old_dev_img = []; 
                }
                    })
    },

    getMyLocation(){
       
      this.$axios.post(`/sensor/get_my_location`,this.$qs.stringify(this.data_sensor_info)).then(res=>{
      //this.getStatus_6()
    
      //get backend return data
      let str = res.data
      let success = res.data['success']
      let code = res.data['code']
      let msg = res.data['msg']
      let my_loc_details = res.data['my_loc_details']
      let my_sensor_num = res.data['my_sensor_num']
      console.log(str)

      if(code == '204'){

        let my_all_loc = {lat:'',lng:''} 

        let mymapPosition = {lat:parseFloat(my_loc_details[0]['lat']),lng:parseFloat(my_loc_details[0]['lng'])}
        let map = new google.maps.Map(document.getElementById("allmap"), {
          center: mymapPosition,
          zoom: 8, 
          zoomControl: false   
        });


      for(let i=0; i<my_loc_details.length; i++){
        let my_lat = parseFloat(my_loc_details[i]['lat'])
        let my_lng = parseFloat(my_loc_details[i]['lng'])
        my_all_loc.lat = my_lat
        my_all_loc.lng = my_lng
       
        
        const image ={url:require('../assets/red_marker.png')};
        const beachMarker = new google.maps.Marker({
        position: my_all_loc,
        map,
        icon: image,
      });
        
      }

      this.$axios.post(`/sensor/get_all_location`,this.$qs.stringify(this.data_sensor_info)).then(res=>{
      //this.getStatus_6()
     
      //get backend return data
      let str = res.data
      let success = res.data['success']
      let code = res.data['code']
      let msg = res.data['msg']
      let all_loc_details = res.data['all_loc_details']
      console.log(str)

      if(code == '205'){

        let all_loc = {lat:'',lng:''} 

      for(let i=0; i<all_loc_details.length; i++){
        let all_lat = parseFloat(all_loc_details[i]['lat'])
        let all_lng = parseFloat(all_loc_details[i]['lng'])
        all_loc.lat = all_lat
        all_loc.lng = all_lng
       
        const image ={url:require('../assets/blue_marker.png')};
        const beachMarker = new google.maps.Marker({
        position: all_loc,
        map,
        icon: image,
      });
        
      }
         
         return true;

        }

      if(code == '513'){
   
          console.log({message: 'Failed to get device location,513',type: 'warning'});
          return false
        }



      });
         
         return true;

        }

      if(code == '511'){
        // let mymapPosition = {lat:51.493,lng:-0.043}
        let mymapPosition = {lat:48.100,lng:-122.340}
        let map = new google.maps.Map(document.getElementById("allmap"), {
          center: mymapPosition,
          zoom: 4, 
          zoomControl: false   
        });

        
        const image ={url:require('../assets/orange_marker.png')};
        const beachMarker = new google.maps.Marker({
        // position: {lat:51.493,lng:-0.043},
        position: {lat:48.100,lng:-122.340},
        map,
        icon: image,
      });

      this.$axios.post(`/sensor/get_all_location`,this.$qs.stringify(this.data_sensor_info)).then(res=>{
      //this.getStatus_6()

      //get backend return data
      let str = res.data
      let success = res.data['success']
      let code = res.data['code']
      let msg = res.data['msg']
      let all_loc_details = res.data['all_loc_details']
      console.log(str)

      if(code == '205'){

        let all_loc = {lat:'',lng:''} 

      for(let i=0; i<all_loc_details.length; i++){
        let all_lat = parseFloat(all_loc_details[i]['lat'])
        let all_lng = parseFloat(all_loc_details[i]['lng'])
        all_loc.lat = all_lat
        all_loc.lng = all_lng
       
        const image ={url:require('../assets/blue_marker.png')};
        const beachMarker = new google.maps.Marker({
        position: all_loc,
        map,
        icon: image,
      });
        
      }
         
         return true;

        }

      if(code == '513'){
      
           console.log({message: 'Failed to get device location,513',type: 'warning'});
          return false
        }

      });
          
          return false
        }

      if(code == '512'){
          // let mymapPosition = {lat:51.493,lng:-0.043}
          let mymapPosition = {lat:48.100,lng:-122.340}
          let map = new google.maps.Map(document.getElementById("allmap"), {
          center: mymapPosition,
          zoom: 4, 
          zoomControl: false   
        });

         
        const image ={url:require('../assets/orange_marker.png')};
        const beachMarker = new google.maps.Marker({
        // position: {lat:51.493,lng:-0.043},
         position: {lat:48.100,lng:-122.340},
        map,
        icon: image,
      });

      this.$axios.post(`/sensor/get_all_location`,this.$qs.stringify(this.data_sensor_info)).then(res=>{
      //this.getStatus_6()
     
      //get backend return data
      let str = res.data
      let success = res.data['success']
      let code = res.data['code']
      let msg = res.data['msg']
      let all_loc_details = res.data['all_loc_details']
      console.log(str)

      if(code == '205'){

        let all_loc = {lat:'',lng:''} 

      for(let i=0; i<all_loc_details.length; i++){
        let all_lat = parseFloat(all_loc_details[i]['lat'])
        let all_lng = parseFloat(all_loc_details[i]['lng'])
        all_loc.lat = all_lat
        all_loc.lng = all_lng
       
        const image ={url:require('../assets/blue_marker.png')};
        const beachMarker = new google.maps.Marker({
        position: all_loc,
        map,
        icon: image,
      });
        
      }
         
         return true;

        }

      if(code == '513'){
       
          console.log({message: 'Failed to get device location,513',type: 'warning'});
          return false
        }

      });
       
          return false
        }


        });
    },

    initMap(){
      
    },
    Logout(){
      sessionStorage.clear();
      this.$router.push('/login')
    },
    Toviewdata(){
      this.$router.push('/viewdata')
    },
    add_dev(){  
          this.$prompt('Do you want to add a new device?', 'Analytics Sensor', {
          confirmButtonText: 'YES',
          cancelButtonText: 'NO', 
           inputPattern:'',
         
           inputPlaceholder:'Please enter the new device name!'
        }).then(({value}) => {
          if(value){
                this.data_sensor_info['sensorname'] = value
                console.log(value)
                this.$axios.post(`/sensor/register`,this.$qs.stringify(this.data_sensor_info)).then(res=>{
                //this.getStatus_6()
                
                //get backend return data
                let str = res.data
                let success = res.data['success']
                let code = res.data['code']
                let msg = res.data['msg']
                console.log(str)

                if(code == '203'){
                 
                   this.$message({message: 'Added new device successfully!',type: 'success'});
                   this.getExitDev() 
                }

                if(code == '508'){
                 
                  this.$message({message: 'Failed to add new device,508',type: 'warning'});
                  return false
                }

                if(code == '509'){
                 
                  this.$message({message: 'The device name already exists, please rename it!',type: 'warning'});
                  return false
                }

                if(code == '510'){
                 
                  this.$message({message: 'Failed to add new device,510',type: 'warning'});
                  return false
                }

                    })

                //send xbee_id and sensor_id to App backend
                this.$axios.post(`/xbee/sensor_id_register`,this.$qs.stringify(this.data_sensor_info)).then(res=>{
                //this.getStatus_6()
                
                //get backend return data
                let str = res.data
                let success = res.data['success']
                let code = res.data['code']
                let msg = res.data['msg']
                console.log(str)

                if(code == '214'){
                 
                  //  this.$message({message: 'Added new device successfully!',type: 'success'});
                  //  this.getExitDev() 
                  //  this.Control_interval_DialogVisible= true
                  console.log({message: 'Added new device successfully!',type: 'success'});

                  //add sensor_id and gps into sensor_location.db
                  this.$axios.post(`/xbee/add_gps`,this.$qs.stringify(this.data_sensor_info)).then(res=>{
                  //this.getStatus_6()
                  
                  //get backend return data
                  let str = res.data
                  let success = res.data['success']
                  let code = res.data['code']
                  let msg = res.data['msg']
                  console.log(str)

                  if(code == '217'){
                  
                    //  this.$message({message: 'Added new device successfully!',type: 'success'});
                    //  this.getExitDev() 
                    //  this.Control_interval_DialogVisible= true
                    console.log({message: 'Add GPS information successfully!',type: 'success'});
                  }

                  if(code == '539'){
                  
                    this.$message({message: 'Failed to add GPS information,539',type: 'warning'});
                    return false
                  }

                  if(code == '540'){
                  
                    this.$message({message: 'Failed to coonect toilet, please power on the sensor kit again, 540!',type: 'warning'});
                    return false
                  }

                  if(code == '541'){
                  
                    this.$message({message: 'Failed to connect toilet with network, please power on the sensor kit again, 541!',type: 'warning'});
                    return false
                  }

                  if(code == '542'){
                  
                    this.$message({message: 'Failed to get toilet latitude and longitude, 542!',type: 'warning'});
                    return false
                  }

                   if(code == '543'){
                  
                    this.$message({message: 'Failed to add toilet GPS information, 543!',type: 'warning'});
                    return false
                  }

                      })

                }

                if(code == '529'){
                 
                  this.$message({message: 'Failed to add new device,529',type: 'warning'});
                  return false
                }

                if(code == '530'){
                 
                  this.$message({message: 'The device name already exists, please rename it!',type: 'warning'});
                  return false
                }

                if(code == '531'){
                 
                  this.$message({message: 'Failed to add new device,510',type: 'warning'});
                  return false
                }

                    })
                

          }
          else{
           
            this.$message({message: 'Please enter the new device name!',type: 'warning'});
            return false
          }
          
        }).catch(() => {
          this.$message({
            type: 'info',
           
            message: 'Add new device canceled!'
          });
        });
    },
    control(item){
     
      console.log(item.imgName)
      this.current_name = item.imgName
      window.sessionStorage.setItem('current_name',this.current_name)
      this. data_sensor_info.sensorname = this.current_name
      this.get_xbee_from_sensor_id()
      
    },

    get_xbee_from_sensor_id(){
      this.$axios.post(`/xbee/get_xbee_id_from_sensor_id`,this.$qs.stringify(this.data_sensor_info)).then(res=>{
                //this.getStatus_6()
                
                //get backend return data
                let str = res.data
                let success = res.data['success']
                let code = res.data['code']
                let msg = res.data['msg']
                let xbee_id_get = res.data['xbee_id']

                console.log(str)

                if(code == '224'){
                  window.sessionStorage.setItem('toilet_id',xbee_id_get)
                }

                if(code == '554'){
                  console.log(str)
                }
      })
    },
  
    Setting_dev(){
      //console.log(this.current_name)
      //window.sessionStorage.setItem('current_name',this.current_name)
      this. data_sensor_info.sensorname = this.current_name
      this.get_xbee_from_sensor_id()
      this.$router.push({
            name:'manage_Dev',
            params:{
              id : this.current_name
            }
          })  
      
    },

    View_dev(){
      //console.log(this.current_name)
      //window.sessionStorage.setItem('current_name',this.current_name)
      this. data_sensor_info.sensorname = this.current_name
      this.get_xbee_from_sensor_id()
      this.$router.push({
            name:'ViewData',
            params:{
              id : this.current_name
            }
          })  
      
    },
    
    cancel_delete(){
      
      this.$message('Delete canceled!');
    },
    
    confirm_delete(){
     
      console.log(this.current_name)
      this.outerVisible = false
   
      this.data_sensor_info['sensorname'] = this.current_name;
      this. data_sensor_info.toilet_id = window.sessionStorage.getItem('toilet_id')
      this.$axios.post(`/sensor/delete_selected_one`,this.$qs.stringify(this.data_sensor_info)).then(res=>{
                //this.getStatus_6()

               //get backend return data
                let str = res.data
                let success = res.data['success']
                let code = res.data['code']
                let msg = res.data['msg']

                console.log(str)

                if(code == '225'||code == '226'){
                 
                  this.$message({message: 'The device was successfully deleted',type: 'success'});
                  this.getExitDev()
                  this.getMyLocation() 
                }

                if(code == '555'||code == '556'||code == '557'||code == '558'||code == '559'||code == '560'||code == '561'||code == '562'||code == '563'||code == '564'){
                  this.$message({message: 'Delete device failed!',type: 'warning'});
                  console.log(str)
                } 
                    })

      
    }
  }
}
</script>
<style scoped>
html,body{
  margin: 0;
  padding: 0;
  
}
.container-fluid{
    background-color:  #F0F0F0
}
.Nav{
  font-size: 18px;
  font-weight: bold;
  /* background-color: #7459A1; */
  background-color: #5a595b;
  height: 50px;
  line-height: 50px;
  color:white;
}
.Nav_1{
  font-size: 18px;
  font-weight: bold;
  background-color: #5a595b;
  height: 100%;
  line-height: 50px;
}
.Nav_2{
  font-size: 14px;
  font-weight: bold;
  /* background-color: #D4000b; */
  background-color: #5a595b;
  height: 100%;
  line-height: 50px;
  cursor: pointer;
  color: white;
  text-align: center;
}
.map{
  width: 100%;
}
.Google_map{
  
  height: 600px;
  background-color: cornsilk;
}

.collapse-title {
         flex: 1 0 90%;
         order: 1;
}
.device{
display: flex;
flex-wrap: wrap;
}
.add_device{
padding: 0px 30px;
align-items: center;
}
.device > div{
  flex: none;
}
.img_name{
  height: 20px;
}
.device_1{
margin-top: 20px;
margin-right: 5px;
width:50px ;
height: 70px;

}  
.device_2{
margin-top: 20px;
margin-right: 5px;
width:50px ;
height: 70px;
background-color: yellow;
} 
.upload{
    margin-top: 20px;
    height: 70px;
    width: 70px;
    padding-bottom: 20px;
    background-color: wheat;
    line-height: 70px;
    cursor: pointer;
}
.help{
    color: white;
    font-size: 10px;
    cursor: pointer;
}
.el-dialog__title{
  float: left;
}
.el-dialog__wrapper{
  text-align: left;
}
.el-dialog-qr{
  height: 400px;
}
.el-dialog-ct{
  height:100px;
}
.Num_con{
    width: 20%;
    height: 40px;
    float: left;
    left: 5px;
}
.Time_con{
  background-color: white;
}
.con_dev_interval_btn{
  margin-left: 50%;
  margin-top: 10%;
}
.con_interval{
  margin-top: 150px;
  border-radius: 10px;
}
.con_interval .con_interval{
  border-radius: 10px;
}

.copyright{
  height: 20px;
  background-color: #5a595b;
  line-height: 20px;
  text-align: right;
  font-size: 14px;
  color: white;
  padding: 0px 30px 0px 0px;
}

.col-md-1 {
    position: absolute;
    right: 0;
    width: 8.33333333%;
}

</style>