<template>
  <div class="container-fluid">
    <div class="row Nav" v-bind:style="nav">
      <div class="col-xs-12 col-sm-12 col-md-12">
        Cranfield Circular Toilet
      </div>
      <!-- <div class="col-xs-2 col-xs-offset-1 col-sm-2 col-sm-offset-3 col-md-2 col-md-offset-5">
            
            </div> -->
      <div class="col-xs-3 col-sm-1 col-md-1">
        <span class="help" @click="Logout()">Log out</span>
      </div>
    </div>
    <div class="row Banner" v-bind:style="banner">
      <div class="global_map" id="allmap"></div>

      <!-- <div class="bar1">Set Time Interval</div>

            <div  class="time_interval" style="height:45px">             
              <el-select v-model="SelectTime_value" placeholder="" @change="SelectTimeNum(SelectTime_value)" class="Num_con">
                <el-option
                  v-for="item in SelectTimeForm"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                  >
                </el-option>
              </el-select>
              <el-select v-model="Rvalue" placeholder="" @change="SensorTime(Rvalue)" class="Time_con" >
                  <el-option
                  v-for="item in Roptions"
                  :key="item.Rvalue"
                  :label="item.label"
                  :value="item.Rvalue"
                  :disabled="item.disabled"
                  >
                  </el-option>
              </el-select> 
              <el-button size="mini" class="mini_btn" @click="SendTimeInterval()">submit</el-button>
            </div>    -->
      <div class="bar2">Manage Toilet</div>
      <div class="cell">
        <button class="block" @click="setProtype_5()">
          <div class="aaa_s">{{ Fifth_data }}</div>
          <div class="bbb_s">{{ Current_data_5 }}</div>
        </button>
        <button class="block" @click="setProtype_22()">
          <div class="aaa_s">{{ TwentyTwo_data }}</div>
          <div class="bbb_s">{{ Current_data_22 }}</div>
        </button>
        <button class="block" @click="setProtype_6()">
          <div class="aaa_s">{{ Sixth_data }}</div>
          <div class="bbb_s">{{ Current_data_6 }}</div>
        </button>
        <button class="block" @click="setProtype_10()">
          <div class="aaa_s">{{ Tenth_data }}</div>
          <div class="bbb_s">{{ Current_data_10 }}</div>
        </button>
        <button class="block" @click="setProtype_14()">
          <div class="aaa_s">{{ Fourteenth_data }}</div>
          <div class="bbb_s">{{ Current_data_14 }}</div>
        </button>
        <button class="block" @click="setProtype_17()">
          <div class="aaa_s">{{ Seventeenth_data }}</div>
          <div class="bbb_s">{{ Current_data_17 }}</div>
        </button>
        <button class="block" @click="setProtype_12()">
          <div class="aaa_s">{{ Twelfth_data }}</div>
          <div class="bbb_s">{{ Current_data_12 }}</div>
        </button>
        <button class="block" @click="setProtype_13()">
          <div class="aaa_s">{{ Thirteenth_data }}</div>
          <div class="bbb_s">{{ Current_data_13 }}</div>
        </button>
        <button class="block" @click="setProtype_7()">
          <div class="aaa_s">{{ Seventh_data }}</div>
          <div class="bbb_s">{{ Current_data_7 }}</div>
        </button>
        <button class="block" @click="setProtype_9()">
          <div class="aaa_s">{{ Ninth_data }}</div>
          <div class="bbb_s">{{ Current_data_9 }}</div>
        </button>
        <button class="block" @click="setProtype_8()">
          <div class="aaa_s">{{ Eighth_data }}</div>
          <div class="bbb_s">{{ Current_data_8 }}</div>
        </button>
        <button class="block" @click="setProtype_16()">
          <div class="aaa_s">{{ Sixteenth_data }}</div>
          <div class="bbb_s">{{ Current_data_16 }}</div>
        </button>
        <button class="block" @click="setProtype_15()">
          <div class="aaa_s">{{ Fifteenth_data }}</div>
          <div class="bbb_s">{{ Current_data_15 }}</div>
        </button>
        <button class="block" @click="setProtype_19()">
          <div class="aaa_s">{{ Nineteenth_data }}</div>
          <div class="bbb_s">{{ Current_data_19 }}</div>
        </button>
        <button class="block" @click="setProtype_20()">
          <div class="aaa_s">{{ Twenty_data }}</div>
          <div class="bbb_s">{{ Current_data_20 }}</div>
        </button>
        <button class="block" @click="setProtype_1()">
          <div class="aaa_s">{{ First_data }}</div>
          <div class="bbb_s">{{ Current_data_1 }}</div>
        </button>
        <button class="block" @click="setProtype_2()">
          <div class="aaa_s">{{ Second_data }}</div>
          <div class="bbb_s">{{ Current_data_2 }}</div>
        </button>
        <button class="block" @click="setProtype_11()">
          <div class="aaa_s">{{ Eleventh_data }}</div>
          <div class="bbb_s">{{ Current_data_11 }}</div>
        </button>
        <button class="block" @click="setProtype_18()">
          <div class="aaa_s">{{ Eighteenth_data }}</div>
          <div class="bbb_s">{{ Current_data_18 }}</div>
        </button>
        <!-- <button class="block" @click="setProtype_3()"><div class="aaa_s">{{Third_data}}</div><div class="bbb_s">{{Current_data_3}}</div></button> -->
        <button class="block" @click="setProtype_4()">
          <div class="aaa_s">{{ Forth_data }}</div>
          <div class="bbb_s">{{ Current_data_4 }}</div>
        </button>
        <button class="block" @click="setProtype_21()">
          <div class="aaa_s">{{ TwentyOne_data }}</div>
          <div class="bbb_s">{{ Current_data_21 }}</div>
        </button>
      
        <!-- <button class="block" @click="setProtype_5()"><div class="aaa_s">{{Fifth_data}}</div><div class="bbb_s">{{Current_data_5}}</div></button> -->
      </div>
      <div class="copyright">
        Cranfield copyright (c) 2022
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "manage_Dev",
  data() {
    return {
      banner: "background-image: linear-gradient(#3B2924, #B5A8B9);",
      //  nav:'background-color: #7459A1;',
      nav: "background-color: #5a595b;",
      temp: "10",
      Block_img: require("../assets/block_1.png"),
       // version_1:2021/11/01
      //  First_data:'HOT LIQUID TEMP',
      //  Second_data:'COLD LIQUID TEMP',
      //  Third_data:'MD HEATING TEMP',
      //  Forth_data:'TF HEATING TEMP',
      //  Fifth_data:'FE TANK FULL',
      //  Fifth_data:'OPERATION MODE',
      //  Sixth_data:'LID OPEN',
      //  Seventh_data:'MDHOT TANK FULL',
      //  Eighth_data:'MDCOLD TANK LOW',
      //  Ninth_data:'FILTER OVERFLOW',
      //  Tenth_data:'MOTION DETECTED',
      //  Eleventh_data:'TF SWITCH',
      //  Twelfth_data:'EVAC PUMP SPEED',
      //  Thirteenth_data:'AUGER MOTOR SPEED',
      //  Fourteenth_data:'PAN RINSE PUMP SPEED',
      //  Fifteenth_data:'MDCOLD PUMP SPEED',
      //  Sixteenth_data:'MDHOT PUMP SPEED',
      //  Seventeenth_data:'BOWL RINSE PUMP IS ON',
      //  Eighteenth_data:'TF MOTOR IS ON',
      //  Nineteenth_data:'MD COOLING IS ON',
      //  Twenty_data:'MD HEATING IS ON',
      //  TwentyOne_data:'TF HEATING IS ON',
      //  TwentyTwo_data:'SYSTEM STATUS',


      //version_2:2022/04/01/
      // First_data: "Hot Liquid Temperature",
      // Second_data: "Cold Liquid Temperature",
      // Third_data: "Ambient Temperature",
      // Forth_data: "TF Heating Temperature",
      // //  Fifth_data:'FE TANK FULL',
      // Fifth_data: "Operation Mode",
      // Sixth_data: "Lid Open",
      // Seventh_data: "MDHot Tank Upper Full",
      // Eighth_data: "MDCold Tank Low",
      // Ninth_data: "MDHot Tank Lower Full",
      // Tenth_data: "Flush Detected",
      // Eleventh_data: "TF Switch",
      // Twelfth_data: "Evacuation Pump Speed",
      // Thirteenth_data: "Auger Motor Speed",
      // Fourteenth_data: "Toilet Clean Pump Speed",
      // Fifteenth_data: "MDCold Pump Speed",
      // Sixteenth_data: "MDHot Pump Speed",
      // Seventeenth_data: "TF Concentrate Pump",
      // Eighteenth_data: "TF Motor Is On",
      // Nineteenth_data: "MD Cooling Is On",
      // //  Twenty_data:'MD HEATING IS ON',
      // Twenty_data: "MD Peltier Is On",
      // TwentyOne_data: "TF Heating Is On",
      // TwentyTwo_data: "System Status",

//version_3:2022/11/01/
      First_data: "Hot Liquid Temperature (MD Inlet)",
      Second_data: "Cold Liquid Temperature (MD Inlet)",
      Third_data: "Ambient Temperature",
      Forth_data: "TF Temperature",
      //  Fifth_data:'FE TANK FULL',
      Fifth_data: "Manual Operation Mode",
      Sixth_data: "Lid Status",
      Seventh_data: "MDHot Tank Upper Switch",
      Eighth_data: "MDCold Tank Switch",
      Ninth_data: "MDHot Tank Lower Switch",
      Tenth_data: "Button Clean Press",
      Eleventh_data: "TF Process",
      Twelfth_data: "Evacuation Pump",
      Thirteenth_data: "Auger Motor",
      Fourteenth_data: "Pan Rinse Pump",
      Fifteenth_data: "MDCold Pump",
      Sixteenth_data: "MDHot Pump",
      Seventeenth_data: "Bowl Rinse Pump",
      Eighteenth_data: "TF Motor",
      Nineteenth_data: "Radiator Cooling",
      //  Twenty_data:'MD HEATING IS ON',
      Twenty_data: "MD Peltier",
      TwentyOne_data: "TF Heating",
      TwentyTwo_data: "Automatic System Status",

      Current_data_1: "53",
      Current_data_2: "17",
      Current_data_3: "20",
      Current_data_4: "115",
      Current_data_5: "6",
      Current_data_6: "Open",
      Current_data_7: "OFF",
      Current_data_8: "ON",
      Current_data_9: "ON",
      Current_data_10: "OFF",
      Current_data_11: "OFF",
      Current_data_12: "120",
      Current_data_13: "240",
      Current_data_14: "14",
      Current_data_15: "301",
      Current_data_16: "179",
      Current_data_17: "21",
      Current_data_18: "27",
      Current_data_19: "587",
      Current_data_20: "387",
      Current_data_21: "187",
      Current_data_22: "6",

      safe_min: 10,
      safe_max: 15,
      sensor_type: "2",
      data_sensor_info: {
        usertel: window.sessionStorage.getItem("usertel"),
        sensorname: window.sessionStorage.getItem("current_name"),
      },
      data_xbee_time_interval: {
        usertel: window.sessionStorage.getItem("usertel"),
        sensorname: window.sessionStorage.getItem("current_name"),
        toilet_id: "",
        time_interval_type: window.sessionStorage.getItem("time_interval_type"),
        time_interval_num: window.sessionStorage.getItem("time_interval_num"),
      },

      Roptions: [
        {
          Rvalue: "1",
          label: "minute(s)",
        },
        {
          Rvalue: "2",
          label: "hour(s)",
          disabled: true,
        },
      ],
      ControlForm: {
        Num: "",
        Time: "",
      },
      SelectTimeForm: [
        {
          value: "2",
          label: "2",
        },
        {
          value: "3",
          label: "3",
        },
        {
          value: "4",
          label: "4",
        },
      ],

      Rvalue: "",
      SelectTime_value: "",
      First_value: "1",
      Second_value: "2",
      Third_value: "3",
      Forth_value: "4",
      Fifth_value: "5",
      Sixth_value: "6",
      Seventh_value: "7",
      Eighth_value: "8",
      Ninth_value: "9",
      Tenth_value: "10",
      Eleventh_value: "11",
      Twelfth_value: "12",
      Thirteenth_value: "13",
      Fourteenth_value: "14",
      Fifteenth_value: "15",
      Sixteenth_value: "16",
      Seventeenth_value: "17",
      Eighteenth_value: "18",
      Nineteenth_value: "19",
      Twenty_value: "20",
      TwentyOne_value: "21",
      TwentyTwo_value: "22",
    };
  },
  created() {
    this.getViewSensorLocation();
    this.getAllLatestDBData();
  },
  mounted() {
    this.changeBannerColor();

    this.initMap();
  },
  methods: {
    getAllLatestDBData() {
      this.$axios
        .post(
          `/view/get_all_latest_db_data`,
          this.$qs.stringify(this.data_sensor_info)
        )
        .then((res) => {
          //this.getStatus_6()

          //get backend return data
          let str = res.data;
          let success = res.data["success"];
          let code = res.data["code"];
          let msg = res.data["msg"];
          let get_sensor_1_latest_time = res.data["get_sensor_1_latest_time"];
          let get_sensor_1_latest_data = res.data["get_sensor_1_latest_data"];
          let get_sensor_2_latest_time = res.data["get_sensor_2_latest_time"];
          let get_sensor_2_latest_data = res.data["get_sensor_2_latest_data"];
          let get_sensor_3_latest_time = res.data["get_sensor_3_latest_time"];
          let get_sensor_3_latest_data = res.data["get_sensor_3_latest_data"];
          let get_sensor_4_latest_time = res.data["get_sensor_4_latest_time"];
          let get_sensor_4_latest_data = res.data["get_sensor_4_latest_data"];
          let get_sensor_5_latest_time = res.data["get_sensor_5_latest_time"];
          let get_sensor_5_latest_data = res.data["get_sensor_5_latest_data"];
          let get_sensor_6_latest_time = res.data["get_sensor_6_latest_time"];
          let get_sensor_6_latest_data = res.data["get_sensor_6_latest_data"];
          let get_sensor_7_latest_time = res.data["get_sensor_7_latest_time"];
          let get_sensor_7_latest_data = res.data["get_sensor_7_latest_data"];
          let get_sensor_8_latest_time = res.data["get_sensor_8_latest_time"];
          let get_sensor_8_latest_data = res.data["get_sensor_8_latest_data"];
          let get_sensor_9_latest_time = res.data["get_sensor_9_latest_time"];
          let get_sensor_9_latest_data = res.data["get_sensor_9_latest_data"];
          let get_sensor_10_latest_time = res.data["get_sensor_10_latest_time"];
          let get_sensor_10_latest_data = res.data["get_sensor_10_latest_data"];
          let get_sensor_11_latest_time = res.data["get_sensor_11_latest_time"];
          let get_sensor_11_latest_data = res.data["get_sensor_11_latest_data"];
          let get_sensor_12_latest_time = res.data["get_sensor_12_latest_time"];
          let get_sensor_12_latest_data = res.data["get_sensor_12_latest_data"];
          let get_sensor_13_latest_time = res.data["get_sensor_13_latest_time"];
          let get_sensor_13_latest_data = res.data["get_sensor_13_latest_data"];
          let get_sensor_14_latest_time = res.data["get_sensor_14_latest_time"];
          let get_sensor_14_latest_data = res.data["get_sensor_14_latest_data"];
          let get_sensor_15_latest_time = res.data["get_sensor_15_latest_time"];
          let get_sensor_15_latest_data = res.data["get_sensor_15_latest_data"];
          let get_sensor_16_latest_time = res.data["get_sensor_16_latest_time"];
          let get_sensor_16_latest_data = res.data["get_sensor_16_latest_data"];
          let get_sensor_17_latest_time = res.data["get_sensor_17_latest_time"];
          let get_sensor_17_latest_data = res.data["get_sensor_17_latest_data"];
          let get_sensor_18_latest_time = res.data["get_sensor_18_latest_time"];
          let get_sensor_18_latest_data = res.data["get_sensor_18_latest_data"];
          let get_sensor_19_latest_time = res.data["get_sensor_19_latest_time"];
          let get_sensor_19_latest_data = res.data["get_sensor_19_latest_data"];
          let get_sensor_20_latest_time = res.data["get_sensor_20_latest_time"];
          let get_sensor_20_latest_data = res.data["get_sensor_20_latest_data"];
          let get_sensor_21_latest_time = res.data["get_sensor_21_latest_time"];
          let get_sensor_21_latest_data = res.data["get_sensor_21_latest_data"];
          let get_sensor_22_latest_time = res.data["get_sensor_22_latest_time"];
          let get_sensor_22_latest_data = res.data["get_sensor_22_latest_data"];

          console.log(str);

          if (code == "212") {
            this.Current_data_1 = res.data["get_sensor_1_latest_data"];
            this.Current_data_2 = res.data["get_sensor_2_latest_data"];
            this.Current_data_3 = res.data["get_sensor_3_latest_data"];
            this.Current_data_4 = res.data["get_sensor_4_latest_data"];
            this.Current_data_5 = res.data["get_sensor_5_latest_data"];

            if (get_sensor_6_latest_data == "1") {
              this.Current_data_6 = "OPEN";
            } else {
              this.Current_data_6 = "CLOSE";
            }

            if (get_sensor_7_latest_data == "1") {
              this.Current_data_7 = "ON";
            } else {
              this.Current_data_7 = "OFF";
            }
            if (get_sensor_8_latest_data == "1") {
              this.Current_data_8 = "ON";
            } else {
              this.Current_data_8 = "OFF";
            }

            if (get_sensor_9_latest_data == "1") {
              this.Current_data_9 = "ON";
            } else {
              this.Current_data_9 = "OFF";
            }

            if (get_sensor_10_latest_data == "1") {
              this.Current_data_10 = "ON";
            } else {
              this.Current_data_10 = "OFF";
            }

            if (get_sensor_11_latest_data == "1") {
              this.Current_data_11 = "ON";
            } else {
              this.Current_data_11 = "OFF";
            }

            this.Current_data_12 = res.data["get_sensor_12_latest_data"];
            this.Current_data_13 = res.data["get_sensor_13_latest_data"];
            this.Current_data_14 = res.data["get_sensor_14_latest_data"];
            this.Current_data_15 = res.data["get_sensor_15_latest_data"];
            this.Current_data_16 = res.data["get_sensor_16_latest_data"];

            this.Current_data_17 = res.data["get_sensor_17_latest_data"];
            this.Current_data_18 = res.data["get_sensor_18_latest_data"];
            this.Current_data_19 = res.data["get_sensor_19_latest_data"];
            this.Current_data_20 = res.data["get_sensor_20_latest_data"];
            this.Current_data_21 = res.data["get_sensor_21_latest_data"];
            this.Current_data_22 = res.data["get_sensor_22_latest_data"];

            //   if(get_sensor_17_latest_data == '1'){
            //     this.Current_data_17 = 'ON'
            //   }else{
            //     this.Current_data_17 = 'OFF'
            //   }
            //    if(get_sensor_18_latest_data == '1'){
            //     this.Current_data_18 = 'ON'
            //   }else{
            //     this.Current_data_18 = 'OFF'
            //   }
            //    if(get_sensor_19_latest_data == '1'){
            //     this.Current_data_19 = 'ON'
            //   }else{
            //     this.Current_data_19 = 'OFF'
            //   }
            //    if(get_sensor_20_latest_data == '1'){
            //     this.Current_data_20 = 'ON'
            //   }else{
            //     this.Current_data_20 = 'OFF'
            //   }

            //  if(get_sensor_21_latest_data == '1'){
            //     this.Current_data_21 = 'ON'
            //   }else{
            //     this.Current_data_21 = 'OFF'
            //   }

            //  var date = new Date(res.data['get_sensor_22_latest_time']*1000)

            //  this.Current_data_22  = [date.getMonth()+1,date.getDate(), date.getHours()+':'+date.getMinutes()].join('-')

            console.log(msg);
          }
          if (code == "524") {
            console.log(msg);
          }

          if (code == "525") {
            console.log(msg);
          }
        });
    },

    SensorTime(Rvalue) {
      let obj = {};
      obj = this.Roptions.find((item) => {
        return item.Rvalue === Rvalue;
      });
      //console.log(obj.label)
      this.ControlForm.Time = parseInt(obj.Rvalue);
      console.log(this.ControlForm.Time);
    },
    SelectTimeNum(e) {
      let obj = {};
      obj = this.SelectTimeForm.find((item) => {
        return item.value === e;
      });
      //console.log(obj.label)
      this.ControlForm.Num = parseInt(obj.value);
      console.log(this.ControlForm.Num);
    },
    post_data_xbee_time_interval() {
      this.data_xbee_time_interval.toilet_id = window.sessionStorage.getItem(
        "toilet_id"
      );
      this.$axios
        .post(
          "/xbee/time_interval",
          this.$qs.stringify(this.data_xbee_time_interval)
        )
        .then((res) => {
          //get backend return data
          let str = res.data;
          let success = res.data["success"];
          let code = res.data["code"];
          let msg = res.data["msg"];
          console.log(str);

          if (
            code == "220" ||
            code == "221" ||
            code == "222" ||
            code == "223"
          ) {
            this.$message({
              message: "Set device time interval successfully!",
              type: "success",
            });
          }

          if (code == "547") {
            this.$message({
              message: "Failed to set device time interval,547",
              type: "warning",
            });
            return false;
          }
          if (code == "548") {
            this.$message({
              message: "Failed to set device time interval,548",
              type: "warning",
            });
            return false;
          }
          if (code == "549") {
            this.$message({
              message: "Failed to set device time interval,549",
              type: "warning",
            });
            return false;
          }
          if (code == "550") {
            this.$message({
              message: "Failed to set device time interval,550",
              type: "warning",
            });
            return false;
          }
          if (code == "551") {
            this.$message({
              message: "Failed to set device time interval,551",
              type: "warning",
            });
            return false;
          }
          if (code == "552") {
            this.$message({
              message: "Failed to set device time interval,552",
              type: "warning",
            });
            return false;
          }
        });
    },

    SendTimeInterval() {
      console.log("start to set time interval");

      if (
        isNaN(this.ControlForm.Num) == true ||
        this.ControlForm.Num % 1 !== 0
      ) {
        this.$message({
          message: "Please enter numbers (not letters, decimals, or null)",
          type: "warning",
        });
      } else {
        if (this.ControlForm.Time == "") {
          this.$message({
            message: "Please select minutes you prefer",
            type: "warning",
          });
        } else {
          if (this.ControlForm.Time == 1) {
            if (this.ControlForm.Num < 0 || this.ControlForm.Num > 60) {
              this.$message({
                message: "Please select minutes you prefer",
                type: "warning",
              });
            } else {
              window.sessionStorage.setItem(
                "time_interval_num",
                this.ControlForm.Num
              );
              window.sessionStorage.setItem(
                "time_interval_type",
                this.ControlForm.Time
              );
              this.data_xbee_time_interval.time_interval_type = this.ControlForm.Time;
              this.data_xbee_time_interval.time_interval_num = this.ControlForm.Num;
              this.post_data_xbee_time_interval();
            }
          }

          if (this.ControlForm.Time == 2) {
            if (this.ControlForm.Num < 0 || this.ControlForm.Num > 24) {
              this.$message({
                message: "Please enter an integer from 1 to 24",
                type: "warning",
              });
            } else {
              window.sessionStorage.setItem(
                "time_interval_num",
                this.ControlForm.Num
              );
              window.sessionStorage.setItem(
                "time_interval_type",
                this.ControlForm.Time
              );
              this.data_xbee_time_interval.time_interval_type = this.ControlForm.Time;
              this.data_xbee_time_interval.time_interval_num = this.ControlForm.Num;
              this.post_data_xbee_time_interval();
            }
          }
        }
      }
    },
    getViewSensorLocation() {
      this.$axios
        .post(
          `/view/get_one_location`,
          this.$qs.stringify(this.data_sensor_info)
        )
        .then((res) => {
          //this.getStatus_6()

          //get backend return data
          let str = res.data;
          let success = res.data["success"];
          let code = res.data["code"];
          let msg = res.data["msg"];
          let my_loc_details = res.data["my_loc_details"];
          let my_sensor_num = res.data["my_sensor_num"];
          console.log(str);

          if (code == "209") {
            let my_all_loc = { lat: "", lng: "" };

            let mymapPosition = {
              lat: parseFloat(my_loc_details[0]["lat"]),
              lng: parseFloat(my_loc_details[0]["lng"]),
            };
            let map = new google.maps.Map(document.getElementById("allmap"), {
              center: mymapPosition,
              zoom: 8,
              zoomControl: false,
            });

            for (let i = 0; i < my_loc_details.length; i++) {
              let my_lat = parseFloat(my_loc_details[i]["lat"]);
              let my_lng = parseFloat(my_loc_details[i]["lng"]);
              my_all_loc.lat = my_lat;
              my_all_loc.lng = my_lng;

              const image = { url: require("../assets/red_marker.png") };
              const beachMarker = new google.maps.Marker({
                position: my_all_loc,
                map,
                icon: image,
              });
            }
            this.$axios
              .post(
                `/view/get_other_location`,
                this.$qs.stringify(this.data_sensor_info)
              )
              .then((res) => {
                //this.getStatus_6()

                //get backend return data
                let str = res.data;
                let success = res.data["success"];
                let code = res.data["code"];
                let msg = res.data["msg"];
                let all_loc_details = res.data["all_loc_details"];
                console.log(str);

                if (code == "210") {
                  let all_loc = { lat: "", lng: "" };

                  for (let i = 0; i < all_loc_details.length; i++) {
                    let all_lat = parseFloat(all_loc_details[i]["lat"]);
                    let all_lng = parseFloat(all_loc_details[i]["lng"]);
                    all_loc.lat = all_lat;
                    all_loc.lng = all_lng;

                    const image = { url: require("../assets/blue_marker.png") };
                    const beachMarker = new google.maps.Marker({
                      position: all_loc,
                      map,
                      icon: image,
                    });
                  }

                  return true;
                }

                if (code == "522") {
                  console.log({
                    message: "Failed to get device location,522",
                    type: "warning",
                  });
                  return false;
                }
              });
            return true;
          }

          if (code == "520") {
            // let mymapPosition = {lat:51.493,lng:-0.043}
            let mymapPosition = { lat: 48.1, lng: -122.34 };
            let map = new google.maps.Map(document.getElementById("allmap"), {
              center: mymapPosition,
              zoom: 4,
              zoomControl: false,
            });

            const image = { url: require("../assets/orange_marker.png") };
            const beachMarker = new google.maps.Marker({
              // position: {lat:51.493,lng:-0.043},
              position: { lat: 48.1, lng: -122.34 },
              map,
              icon: image,
            });

            this.$axios
              .post(
                `/view/get_other_location`,
                this.$qs.stringify(this.data_sensor_info)
              )
              .then((res) => {
                //this.getStatus_6()

                //get backend return data
                let str = res.data;
                let success = res.data["success"];
                let code = res.data["code"];
                let msg = res.data["msg"];
                let all_loc_details = res.data["all_loc_details"];
                console.log(str);

                if (code == "210") {
                  let all_loc = { lat: "", lng: "" };

                  for (let i = 0; i < all_loc_details.length; i++) {
                    let all_lat = parseFloat(all_loc_details[i]["lat"]);
                    let all_lng = parseFloat(all_loc_details[i]["lng"]);
                    all_loc.lat = all_lat;
                    all_loc.lng = all_lng;

                    const image = { url: require("../assets/blue_marker.png") };
                    const beachMarker = new google.maps.Marker({
                      position: all_loc,
                      map,
                      icon: image,
                    });
                  }

                  return true;
                }

                if (code == "522") {
                  console.log({
                    message: "Failed to get device location,522",
                    type: "warning",
                  });
                  return false;
                }
              });
            return false;
          }

          if (code == "521") {
            // let mymapPosition = {lat:51.493,lng:-0.043}
            let mymapPosition = { lat: 48.1, lng: -122.34 };
            let map = new google.maps.Map(document.getElementById("allmap"), {
              center: mymapPosition,
              zoom: 4,
              zoomControl: false,
            });

            const image = { url: require("../assets/orange_marker.png") };
            const beachMarker = new google.maps.Marker({
              // position: {lat:51.493,lng:-0.043},
              position: { lat: 48.1, lng: -122.34 },
              map,
              icon: image,
            });

            this.$axios
              .post(
                `/view/get_other_location`,
                this.$qs.stringify(this.data_sensor_info)
              )
              .then((res) => {
                //this.getStatus_6()

                //get backend return data
                let str = res.data;
                let success = res.data["success"];
                let code = res.data["code"];
                let msg = res.data["msg"];
                let all_loc_details = res.data["all_loc_details"];
                console.log(str);

                if (code == "210") {
                  let all_loc = { lat: "", lng: "" };

                  for (let i = 0; i < all_loc_details.length; i++) {
                    let all_lat = parseFloat(all_loc_details[i]["lat"]);
                    let all_lng = parseFloat(all_loc_details[i]["lng"]);
                    all_loc.lat = all_lat;
                    all_loc.lng = all_lng;

                    const image = { url: require("../assets/blue_marker.png") };
                    const beachMarker = new google.maps.Marker({
                      position: all_loc,
                      map,
                      icon: image,
                    });
                  }

                  return true;
                }

                if (code == "522") {
                  console.log({
                    message: "Failed to get device location,522",
                    type: "warning",
                  });
                  return false;
                }
              });
            return false;
          }
        });
    },

    initMap() {},
    Logout() {
      sessionStorage.clear();
      this.$router.push("/login");
    },

    getSafeMinMax() {
      //           this.$axios.post(`/view/find_exit_dev`, this.$qs.stringify(this.data_sensor_info)).then(res=>{
      //                 //this.getStatus_6()
      //                 //get backend return data
      //                 let str = res.data
      //                 let success = res.data['success']
      //                 let code = res.data['code']
      //                 let msg = res.data['msg']
      //                 let dev_num = res.data['dev_num']
      //                 let dev_list = res.data['dev_list']
      //                 console.log(str)
      // });
    },

    changeBannerColor() {
      if (this.temp > 15) {
        this.nav = "background-color: #cc2b5e;";
        this.banner = "background-image: linear-gradient(#cc2b5e, #556270);";
        return 0;
      }
      if (this.temp < 10) {
        this.nav = "background-color: #003973;";
        this.banner = " background-image: linear-gradient(#003973, #e5e5be);";
        return 0;
      }
      if (10 < this.temp < 15) {
        // this.banner = 'background-image: linear-gradient(#3B2924, #B5A8B9);'
        this.banner =
          "background-image: linear-gradient(rgb(96 80 81), rgb(96 80 81));";
        return 0;
      }
    },
    // getData(){
    //
    // }
    setProtype_1() {
      window.sessionStorage.setItem("sensortype_name", this.First_data);
      window.sessionStorage.setItem("sensortype_id", this.First_value);
      this.$router.push({
        name: "contr_Dev",
        // params:{
        //   id : this.First_data
        // }
      });
    },
    setProtype_2() {
      window.sessionStorage.setItem("sensortype_name", this.Second_data);
      window.sessionStorage.setItem("sensortype_id", this.Second_value);
      this.$router.push({
        name: "contr_Dev",
        // params:{
        //   id : this.First_data
        // }
      });
    },
    setProtype_3() {
      window.sessionStorage.setItem("sensortype_name", this.Third_data);
      window.sessionStorage.setItem("sensortype_id", this.Third_value);
      this.$router.push({
        name: "contr_Dev",
        // params:{
        //   id : this.First_data
        // }
      });
    },
    setProtype_4() {
      window.sessionStorage.setItem("sensortype_name", this.Forth_data);
      window.sessionStorage.setItem("sensortype_id", this.Forth_value);
      this.$router.push({
        name: "contr_Dev",
        // params:{
        //   id : this.First_data
        // }
      });
    },
    setProtype_5() {
      window.sessionStorage.setItem("sensortype_name", this.Fifth_data);
      window.sessionStorage.setItem("sensortype_id", this.Fifth_value);
      this.$router.push({
        name: "contr_Dev",
        // params:{
        //   id : this.First_data
        // }
      });
    },
    setProtype_6() {
      window.sessionStorage.setItem("sensortype_name", this.Sixth_data);
      window.sessionStorage.setItem("sensortype_id", this.Sixth_value);
      this.$router.push({
        name: "contr_Dev",
        // params:{
        //   id : this.First_data
        // }
      });
    },
    setProtype_7() {
      window.sessionStorage.setItem("sensortype_name", this.Seventh_data);
      window.sessionStorage.setItem("sensortype_id", this.Seventh_value);
      this.$router.push({
        name: "contr_Dev",
        // params:{
        //   id : this.First_data
        // }
      });
    },
    setProtype_8() {
      window.sessionStorage.setItem("sensortype_name", this.Eighth_data);
      window.sessionStorage.setItem("sensortype_id", this.Eighth_value);
      this.$router.push({
        name: "contr_Dev",
        // params:{
        //   id : this.First_data
        // }
      });
    },
    setProtype_9() {
      window.sessionStorage.setItem("sensortype_name", this.Ninth_data);
      window.sessionStorage.setItem("sensortype_id", this.Ninth_value);
      this.$router.push({
        name: "contr_Dev",
        // params:{
        //   id : this.First_data
        // }
      });
    },

    setProtype_10() {
      window.sessionStorage.setItem("sensortype_name", this.Tenth_data);
      window.sessionStorage.setItem("sensortype_id", this.Tenth_value);
      this.$router.push({
        name: "contr_Dev",
        // params:{
        //   id : this.First_data
        // }
      });
    },

    setProtype_11() {
      window.sessionStorage.setItem("sensortype_name", this.Eleventh_data);
      window.sessionStorage.setItem("sensortype_id", this.Eleventh_value);
      this.$router.push({
        name: "contr_Dev",
        // params:{
        //   id : this.First_data
        // }
      });
    },

    setProtype_12() {
      window.sessionStorage.setItem("sensortype_name", this.Twelfth_data);
      window.sessionStorage.setItem("sensortype_id", this.Twelfth_value);
      this.$router.push({
        name: "contr_Dev",
        // params:{
        //   id : this.First_data
        // }
      });
    },

    setProtype_13() {
      window.sessionStorage.setItem("sensortype_name", this.Thirteenth_data);
      window.sessionStorage.setItem("sensortype_id", this.Thirteenth_value);
      this.$router.push({
        name: "contr_Dev",
        // params:{
        //   id : this.First_data
        // }
      });
    },

    setProtype_14() {
      window.sessionStorage.setItem("sensortype_name", this.Fourteenth_data);
      window.sessionStorage.setItem("sensortype_id", this.Fourteenth_value);
      this.$router.push({
        name: "contr_Dev",
        // params:{
        //   id : this.First_data
        // }
      });
    },

    setProtype_15() {
      window.sessionStorage.setItem("sensortype_name", this.Fifteenth_data);
      window.sessionStorage.setItem("sensortype_id", this.Fifteenth_value);
      this.$router.push({
        name: "contr_Dev",
        // params:{
        //   id : this.First_data
        // }
      });
    },

    setProtype_16() {
      window.sessionStorage.setItem("sensortype_name", this.Sixteenth_data);
      window.sessionStorage.setItem("sensortype_id", this.Sixteenth_value);
      this.$router.push({
        name: "contr_Dev",
        // params:{
        //   id : this.First_data
        // }
      });
    },

    setProtype_17() {
      window.sessionStorage.setItem("sensortype_name", this.Seventeenth_data);
      window.sessionStorage.setItem("sensortype_id", this.Seventeenth_value);
      this.$router.push({
        name: "contr_Dev",
        // params:{
        //   id : this.First_data
        // }
      });
    },

    setProtype_18() {
      window.sessionStorage.setItem("sensortype_name", this.Eighteenth_data);
      window.sessionStorage.setItem("sensortype_id", this.Eighteenth_value);
      this.$router.push({
        name: "contr_Dev",
        // params:{
        //   id : this.First_data
        // }
      });
    },

    setProtype_19() {
      window.sessionStorage.setItem("sensortype_name", this.Nineteenth_data);
      window.sessionStorage.setItem("sensortype_id", this.Nineteenth_value);
      this.$router.push({
        name: "contr_Dev",
        // params:{
        //   id : this.First_data
        // }
      });
    },

    setProtype_20() {
      window.sessionStorage.setItem("sensortype_name", this.Twenty_data);
      window.sessionStorage.setItem("sensortype_id", this.Twenty_value);
      this.$router.push({
        name: "contr_Dev",
        // params:{
        //   id : this.First_data
        // }
      });
    },

    setProtype_21() {
      window.sessionStorage.setItem("sensortype_name", this.TwentyOne_data);
      window.sessionStorage.setItem("sensortype_id", this.TwentyOne_value);
      this.$router.push({
        name: "contr_Dev",
        // params:{
        //   id : this.First_data
        // }
      });
    },

    setProtype_22() {
      window.sessionStorage.setItem("sensortype_name", this.TwentyTwo_data);
      window.sessionStorage.setItem("sensortype_id", this.TwentyTwo_value);
      this.$router.push({
        name: "contr_Dev",
        // params:{
        //   id : this.First_data
        // }
      });
    },
  },
};
</script>
<style scoped>
html,
body {
  margin: 0;
  padding: 0;
}
.container-fluid {
  background-color: #f0f0f0;
}
.Nav {
  font-size: 18px;
  font-weight: bold;
  /* background-color: #7459A1; */
  background-color: #5a595b;
  height: 50px;
  line-height: 50px;
  color: white;
}
.home {
  color: white;
}
.add {
  color: white;
  font-size: 10px;
  text-decoration: none;
}
.contr {
  color: white;
  font-size: 10px;
  text-decoration: none;
}
.help {
  color: white;
  font-size: 10px;
}
.avatar {
  margin-top: 5px;
}
.Banner {
  height: 100%;
  background-image: linear-gradient(#3b2924, #b5a8b9);
}
.global_map {
  width: 100%;
  height: 300px;
  border: 1px solid gray;
}
.bar1 {
  width: 95%;
  height: 40px;
  background-color: #b1a1b1;
  border-radius: 2px;
  margin: 0 auto;
  box-shadow: -3px 2px gray;
  margin-top: 3%;
  font-size: 25px;
  line-height: 45px;
  font-weight: bolder;
}
.bar2 {
  width: 100%;
  height: 40px;

  /* background-color: #B1A1B1; */
  background-color: #5a595b;
  border-radius: 2px;
  margin: 0 auto;
  /* box-shadow: -3px 2px  gray; */
  /* margin-top: 1%; */
  font-size: 18px;
  color: white;
  line-height: 45px;
  font-weight: bolder;
}
.mini_btn {
  height: 41px;
  font-size: 15px;
  font-weight: bolder;
  margin-left: -4%;
  margin-right: 6%;
}
.block {
  width: 106px;
  margin-top: 3%;
  height: 106px;
  border-radius: 10%;
  background-color: orange;
  background-image: url("../assets/block_1.png");
  background-repeat: none;
  background-size: cover;
}

.aaa {
  padding-top: -10px;
  position: relative;
  top: -20px;
  color: black;
  font-weight: bold;
}

.bbb {
  position: relative;
  top: -10px;
  font-size: 20px;
  /* color: rgb(60 163 173); */
  color: #059ef7;
}
.aaa_s {
  position: relative;
  top: -10px;
  color: black;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
.bbb_s {
  position: relative;
  top: -10px;
  font-size: 20px;
  /* color: rgb(60 163 173); */
  color: #059ef7;
  font-weight: 900;
}

@media (min-width: 992px) {
  .block {
    display: flex !important;
    flex-wrap: wrap !important;
    align-content: space-between !important;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .aaa {
    position: relative;
    top: -20px;
    left: 18px;
    text-decoration: none !important;
  }

  .bbb {
    position: relative;
    left: 18px;
    text-decoration: none !important;
  }

  .cell {
    width: 70% !important;
  }
}
@media (min-width: 1200px) {
  .block {
    display: flex !important;
    flex-wrap: wrap !important;
    align-content: space-between !important;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .cell {
    width: 65% !important;
  }
}
@media (min-width: 1366px) {
  .block {
    display: flex !important;
    flex-wrap: wrap !important;
    align-content: space-between !important;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .cell {
    width: 55% !important;
  }
}
@media (min-width: 1440px) {
  .block {
    display: flex !important;
    flex-wrap: wrap !important;
    align-content: space-between !important;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .cell {
    width: 55% !important;
  }
}
@media (min-width: 1500px) {
  .block {
    display: flex !important;
    flex-wrap: wrap !important;
    align-content: space-between !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .cell {
    width: 50% !important;
  }
}
@media (min-width: 1600px) {
  .block {
    display: flex !important;
    flex-wrap: wrap !important;
    align-content: space-between !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .cell {
    width: 50% !important;
  }
}
@media (min-width: 1920px) {
  .block {
    display: flex !important;
    flex-wrap: wrap !important;
    align-content: space-between !important;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .cell {
    width: 40% !important;
  }
}
@media (min-width: 2160px) {
  .block {
    display: flex !important;
    flex-wrap: wrap !important;
    align-content: space-between !important;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .cell {
    width: 30% !important;
  }
}
@media (min-width: 2560px) {
  .block {
    display: flex !important;
    flex-wrap: wrap !important;
    align-content: space-between !important;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .cell {
    width: 28% !important;
  }
}
.cell {
  margin-top: 10px !important;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  overflow: auto;
  height: 400px;
}
.data_detial {
  width: 95%;
  height: 250px;

  margin: 0 auto;
  margin-top: 10px;
  background-color: rgba(233, 233, 233, 0);
}

.Last_pic img {
  width: 100%;
  height: 100%;
}
.help {
  color: white;
  font-size: 10px;
  cursor: pointer;
}

.copyright {
  height: 20px;
  background-color: #5a595b;
  line-height: 20px;
  text-align: right;
  font-size: 14px;
  color: white;
  padding: 0px 30px 0px 0px;
  margin-top: 30px;
}

.col-md-1 {
  position: absolute;
  right: 0;
  width: 8.33333333%;
}
</style>