<template>
    <div>
        <p class="error">{{ error }}</p><!--error info-->

        <p class="decode-result">Toilet unique ID: <b>{{ result }}</b></p><!--scanned result-->

        <qrcode-stream @decode="onDecode" @init="onInit" :camera="camera" />
    </div>
</template>

<script>

    
    import  {QrcodeStream}  from 'vue-qrcode-reader'

    export default {
        components:{ 
            QrcodeStream 
        },
        props: {
                camera: {
                type: String,
                default: 'rear',
                },
                
        },
        data (){
            return {
                result: '',//scanned QR code result
                error: '',//error info  
                data_xbee_info: {
                    xbee_id: ''
                 },
                user_ip:'',
                toilet_id:''

            }
        },

        
        methods: {
            onDecode (result) {
                //alert(result);
                if(result){
                    this.result = result
                    this.data_xbee_info.xbee_id = result
                    console.log(typeof(this.result))
                    //send scanned QR code result to APP backend /xbee/register
                this.$axios.post('/xbee/exist_check',this.$qs.stringify(this.data_xbee_info)).then(res=>{

                    //get backend return data
                    let str = res.data
                    let success = res.data['success']
                    let code = res.data['code']
                    let msg = res.data['msg']              
                    console.log(str)

                    if(code == '213'){
                        this.$message({
                            message: 'A new device has been detected successfully!',
                            type: 'success'
                            });
                         this.$emit("QR_result",this.result)
                         this.$emit('turnCameraOff')
                         this.toilet_id = this.result
                         window.sessionStorage.setItem('toilet_id',  this.toilet_id)


                         //get user phone ip
                         console.log(returnCitySN["cip"])
                        //  this.user_ip = returnCitySN["cip"] 
                        //  window.sessionStorage.setItem("user_ip",this.user_ip)
                        return true;
                    }

                    if(code == '526'){
                         this.$message({message: 'Failed to add new device,526',type: 'warning'});
                        //console.log({message: 'select xbee_sensor_id db exception, 526.',type: 'warning'});
                        return false
                    }

                    if(code == '527'){
                        this.$message({message: 'Failed to add new device, the device has already been registered',type: 'warning'});
                        //console.log({message: 'the xbee_id already exists, 527.',type: 'warning'});
                        return false
                    }

                     if(code == '528'){
                        this.$message({message: 'Failed to add new device,527',type: 'warning'});
                        //console.log({message: 'insert xbee_sensor_id db exception, 527.',type: 'warning'});
                        return false
                    }

                })
                    
                }
                
                //console.log(this.result)
            },
            
            async onInit (promise) {
                try {
                    await promise
                } catch (error) {
                    if (error.name === 'NotAllowedError') {
                        this.error = "ERROR: Please allow camera access"
                    } else if (error.name === 'NotFoundError') {
                        this.error = "ERROR: No camera on device"
                    } else if (error.name === 'NotSupportedError') {
                        this.error = "ERROR: Required security context (HTTPS, localhost)"
                    } else if (error.name === 'NotReadableError') {
                        this.error = "ERROR: camera is occupied now"
                    } else if (error.name === 'OverconstrainedError') {
                        this.error = "ERROR: Inappropriate camera installation"
                    } else if (error.name === 'StreamApiNotSupportedError') {
                        this.error = "ERROR: The API is not supported in this browser"
                    }
                }
            }
        }
    }
</script>

<style scoped>
    .error {
        font-weight: bold;
        color: red;
    }
</style>
