<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs- col-md-1 col-sm-1 "></div>
            <div class="col-xs-12 col-md-10 col-sm-10">
                <div class="Card">
                    <div class="Card_content">
                        <div class="title">
                            SIGN IN
                        </div>
                        <div class="img"></div>
                        <div class="Lo_fo">

                            <el-form :model="loginForm" status-icon :rules="rules" 
                            ref="LoginForm" class="login_form">
                                <el-form-item  prop="username" class="Lo_tel" >   
                                    <el-input type="text" v-model="loginForm.username" autocomplete="off" placeholder="Telphone" class="tel" prefix-icon="el-icon-phone" > 
                                    </el-input>
                                </el-form-item>
                                <el-form-item  prop="password" class="Lo_pass">
                                    <el-input type="password" v-model="loginForm.password" autocomplete="off" placeholder="Password" class="pas" prefix-icon="el-icon-lock"></el-input>
                                </el-form-item>
                                <el-form-item class="Lo_lo">
                                    <el-button type="primary" @click="LoginForm('loginForm')" class="login">GO</el-button>
                                </el-form-item>
                            </el-form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs- col-md-1 col-sm-1"></div>
        </div>
    </div>
</template>


<script>

export default ({
    name:"Login",
    data(){
      return{
        loginForm: {
          username:'',
          password:'',
        },
        rules:{
                
                username:[{ required: true, message: 'Please enter phone number!', trigger: 'blur' }],
                password:[{ required: true, message: 'please enter password!', trigger: 'blur' }]
                }

      }
    },
    methods:{
        LoginForm(loginForm){
        this.$refs.LoginForm.validate(async(valid) => {
          if (valid) {
             

                this.$axios.post(`/user/login`,this.$qs.stringify(this.loginForm)).then(res=>{
               

                //get backend return data
                let str = res.data
                let success = res.data['success']
                let code = res.data['code']
                let msg = res.data['msg']
                console.log(str)

                if(code == '201'){
                   
                   this.$message({message: 'Successfully logged in!',type: 'success'});
                   window.sessionStorage.setItem('usertel',res.data['usertel']);
                   this.$router.replace('/home')
                }

                if(code == '503'){
                  
                  this.$message({message: 'Login failed,503',type: 'warning'});
                  return false
                }

                if(code == '504'){
                  
                  this.$message({message: 'Incorrect password, login failed!',type: 'warning'});
                  return false
                }

                if(code == '505'){
                
                  this.$message({message: 'This phone number has not been registered yet, please register it!',type: 'warning'});
                  this.$router.replace('/')
                  return false
                }
            })
               
          } else {
           
            this.$message({message: 'Please complete login form!',type: 'warning'});
            return false;
          }
        });
        },
       
    }
})
</script>
<style scoped>
html,body{
  margin: 0;
  padding: 0;
  
}
.container-fluid{
    margin-top:20px;
    background-color:  #F0F0F0
}
.Card{
    
    border-radius: 15px 15px 15px 15px;
    
    width: 100%;
    height: 750px;
    /* background-color: #8DA5CD; */
    background-color: rgb(0, 0, 0);
    align-items:center;
    display: flex;
    box-shadow:4px 4px 5px rgb(180, 180, 180);
    color: white;
}
.Card_content{
    
    width: 80%;
    height: 90%;
    margin: 0 auto;
    
}
.title{
    height: 15%;
    line-height: 70px;
    font-size: 28px;
    font-weight: bold;
}
.img{
    background: url('../assets/Login.png') no-repeat center center;
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    background-size: 40% 100%;
}
.Lo_fo{
    width: 100%;
    height: 45%;
    
}
.login_form{
    padding-top: 40px;
}

.tel {
    width: 100%; 
    border: none;   
}
.el-input__inner{
    border-radius: 20px;
}
.pas{
    width: 100%;
}
.timr.el-form .el-form-item__error {
  top: 21%;
  right: 25% !important;
  left: unset;
}
.login{
    width:100%;
    height: 100%;
    border-radius: 20px ;
    line-height: 35px;
    background-color: #f7f8fa;
    font-weight: bold;
    font-size: 18px;
    color: blanchedalmond;
    padding: 0 !important;
}
</style>