<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs- col-md-1 col-sm-1 "></div>
            <div class="col-xs-12 col-md-10 col-sm-10">
                <div class="Card">
                    <div class="Card_content">
                        <div class="title">
                            CREATE ACCOUNT
                        </div>
                        <div class="img"></div>
                        <div class="Re_fo">

                            <el-form :model="RegisterForm" status-icon :rules="rules" 
                            ref="RegForm" class="RegisterForm">
                                <el-form-item  prop="username"  class="Re_tel">   
                                    <el-input type="text" v-model="RegisterForm.username" autocomplete="off" placeholder="Telphone" class="tel" prefix-icon="el-icon-phone"> 
                                    </el-input>
                                </el-form-item>
                                <el-form-item  prop="password" class="Re_pas">
                                    <el-input type="password" v-model="RegisterForm.password" autocomplete="off" placeholder="Password" class="pas" prefix-icon="el-icon-lock"></el-input>
                                </el-form-item>
                                <el-form-item class="Re_re">
                                    <el-button type="primary" @click="registerForm('RegisterForm')" class="register">GO</el-button>
                                </el-form-item>
                            </el-form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs- col-md-1 col-sm-1"></div>
        </div>
    </div>
</template>
<script>

export default ({
    name:'Register',
    data(){
        var validateUsername = (rule, value, callback)=>{
          if (!value) {
          
          return callback(new Error('Please enter the phone number!'));
        }else {
          callback();
          }
      }
        var validatePass = (rule, value, callback) => {
            
        const password = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$/
        if (password.test(value)) {
          console.log(value)
          
          return callback();
        } else {
          
          callback( new Error('Please enter 6-16 numbers and letters!'))
        }
      };
      return{
        RegisterForm: {
          username:'',
          password:'',
        },
        rules:{
              username: [
            { validator: validateUsername, trigger: 'blur' }
          ],
          password: [
            { validator: validatePass, trigger: 'blur' }
          ],
        },

      }
    },
    methods:{
        registerForm(RegisterForm){
          
        this.$refs.RegForm.validate(async(valid) => {
          if (valid) {
            this.$axios.post(`/user/register`,this.$qs.stringify(this.RegisterForm)).then(res=>{
                

                //get backend return data
                let str = res.data
                let success = res.data['success']
                let code = res.data['code']
                let msg = res.data['msg']
                console.log(str)

                if(code == '200'){

                   this.$message({message: 'Successfully registered!',type: 'success'});
                   this.$router.replace('/')
                }

                if(code == '500'){
                
                  this.$message({message: 'Registration failed,500',type: 'warning'});
                  return false
                }

                if(code == '501'){
                  
                  this.$message({message: 'Registration failed, the phone number already exists, please try again.',type: 'warning'});
                  return false
                }

                if(code == '502'){
                 
                  this.$message({message: 'Registration failed,502',type: 'warning'});
                  return false
                }
 
            })

          } else {
            
            this.$message({message: 'Please complete registration form!',type: 'warning'});
            return false
          }
        });
        },
    }
})
</script>
<style scoped>
html,body{
  margin: 0;
  padding: 0;
  
}
.container-fluid{
    margin-top:20px;
    background-color:  #F0F0F0
}
.Card{
    
    border-radius: 15px 15px 15px 15px;
    
    width: 100%;
    height: 750px;
    /* background-color: #8DA5CD; */
    background-color: black;
    align-items:center;
    display: flex;
    box-shadow:4px 4px 5px rgb(180, 180, 180);
    color:white;
}
.Card_content{
    
    width: 80%;
    height: 90%;
    margin: 0 auto;
    
}
.title{
    height: 15%;
    line-height: 70px;
    font-size: 28px;
    font-weight: bold;
}
.img{
    
    background: url('../assets/Login.png') no-repeat center center;
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    background-size: 40% 100%;
    
}
.Re_fo{
    width: 100%;
    height: 45%;
    
}
.RegisterForm{
    padding-top: 40px;
}
.tel {
    width: 100%;    
}
.el-input__inner{
    border-radius: 20px;
}
.pas{
    width: 100%;
}
.register{
    width:100%;
    height: 100%;
    border-radius: 20px ;
    line-height: 35px;
    /* background-color: #697CAD; */
    background-color: black;
    font-weight: bold;
    font-size: 18px;
    color: blanchedalmond;
    padding:0 !important
}
</style>
