<template>
    <div class="Data-Item">
        <div class="Echarts-Name">{{ Data }}</div>
        <div ref="myChart" class="EchartsArea"></div>
    </div>
</template>

<script>
import * as echarts from 'echarts'

export default {
    name:'testDataShow',
    props:{
        Data:{
            type:Number,
            required:true
        }
    },
    data(){
        return{
            all_data_details:[],
            all_time_details:[]
        }
    },
    created(){
        // console.log('new Data----->',this.Data)
        // this.initData()
    },
	mounted() {
        this.initChart()
    },
    methods: {
        // async initData(){
        //     let SendTypeData = {
        //         sensor_type:this.Data
        //     }
        //     let res = await this.$axios.post('/sensor_history/get_each_sensor_all_data',SendTypeData)
        //     console.log(res)
        //     this.all_data_details = res.data.all_data_details
        //     this.all_time_details = res.data.all_time_details

        // },
        async initChart() {
            let SendTypeData = {
                sensor_type:this.Data
            }
            let res = await this.$axios.post('/sensor_history/get_each_sensor_all_data',SendTypeData)

            let format_all_time_details = [] //格式化后的时间数组数据

            for (let i = 0; i < res.data.all_time_details.length; i++) {
            //   let date = new Date((dottedBase += 3600 * 24* 1000));
                var date = new Date(res.data.all_time_details[i] * 1000);

                format_all_time_details.push(
                [
                    date.getMonth() + 1,
                    date.getDate(),
                    date.getHours() + ":" + date.getMinutes(),
                ].join("-")
                );
            }



            let data = res.data.all_data_details//[120, 200, 150, 80, 70, 110, 130, 150, 80, 70, 110, 130]
            let chart = echarts.init(this.$refs.myChart)
            let option = {
            	// 区域缩放
                dataZoom: [
                    { // 第一个 dataZoom 组件
                        type: 'inside',
                        xAxisIndex: 0, // 表示这个 dataZoom 组件控制 第一个 xAxis
                        startValue: 0, // 数据窗口范围的起始数值index
                        endValue: 19, // 数据窗口范围的结束数值index
                    },
                ],
                xAxis: {
                    type: 'category',
                    data: format_all_time_details//['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                },
                yAxis: {
                    type: 'value',
                },
                series: [
                    // {
                    //     data: data,
                    //     type: 'bar',
                    // },
                    {
                        name: "line",
                        type: "line",
                        smooth: true,
                        showAllSymbol: true,
                        symbol: "emptyCircle",
                        itemStyle: {
                        color: "#D9D9D9",
                        },
                        symbolSize: 15,
                        data: res.data.all_data_details,
                    },

                    {
                        name: "bar",
                        type: "bar",
                        barWidth: 10,
                        itemStyle: {
                        borderRadius: 5,
                        color: this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [
                            { offset: 1, color: "#43eec6" },
                            { offset: 0, color: "#14c8d4" },
                        ]),
                        },
                        data: res.data.all_data_details,
                    },

                    {
                        name: "line",
                        type: "bar",
                        barGap: "-100%",
                        barWidth: 10,
                        itemStyle: {
                        color: this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [
                            { offset: 0, color: "rgba(20,200,212,0)" },
                            { offset: 0.2, color: "rgba(20,200,212,0.2)" },
                            { offset: 1, color: "rgba(20,200,212,0.5)" },
                        ]),
                        },
                        data: res.data.all_data_details,
                    },
                    {
                        name: "dotted",
                        //type: 'pictorialBar',
                        symbol: "rect",
                        itemStyle: {
                        color: "#D9D9D9",
                        },
                        symbolRepeat: true,
                        symbolSize: [12, 4],
                        symbolMargin: 1,

                        data: res.data.all_data_details,
                    },
                ],
            }
            option && chart.setOption(option)
			// 设置定时器, 每隔2s判断是否滚动到末尾, 是则重置为初始状态, 否则向前滚动一位
            setInterval(() => {
                if (option.dataZoom[0].endValue == data.length - 1) {
                    option.dataZoom[0].endValue = 19
                    option.dataZoom[0].startValue = 0
                } else {
                    option.dataZoom[0].endValue =
                        option.dataZoom[0].endValue + 1
                    option.dataZoom[0].startValue =
                        option.dataZoom[0].startValue + 1
                }
                chart.setOption(option)
            }, 2000)
        },
    },
}
</script>

<style scoped>
.Data-Item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.Echarts-Name{
    width: 106px;
    margin-top: 3%;
    height: 106px;
    border-radius: 10%;
    background-color: orange;
    background-image: url("../assets/block_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}
.EchartsArea{
    flex: 1;
    height: 400px;
}
</style>
