<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs- col-md-1 col-sm-1 "></div>
            <div class="col-xs-12 col-md-10 col-sm-10">
                <div class="Card">
                    <div class="Card_content">
                        <div class="title">
                            Cranfield Circular Toilet
                        </div>
                        <div class="img"></div>
                        <div class="Lo_Re">
                            <div class="register">
                                <button class="lo" @click="register()">CREATE ACCOUNT</button>
                            </div>
                            <div class="login">
                                <button class="re" @click="sign()">SIGN IN</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs- col-md-1 col-sm-1"></div>
        </div>
    </div>
</template>
<script>

export default ({
    name:"Start",
    methods:{
        sign(){
            
            this.$router.push('/login')
        },
        register(){
            
            this.$router.push('/register')
        }
    }
})
</script>
<style scoped>
html,body{
  margin: 0;
  padding: 0;
  
}
.container-fluid{
    margin-top:15px;
    background-color:  #F0F0F0
}
.Card{
    
    border-radius: 15px 15px 15px 15px;
    
    width: 100%;
    height: 750px;
    /* background-color: rgb(251, 242, 242); */
    background-color: rgb(0, 0, 0);
    align-items:center;
    display: flex;
    box-shadow:4px 4px 5px rgb(180, 180, 180);
    color:white;
}
.Card_content{
    
    width: 80%;
    height: 90%;
    margin: 0 auto;
    
}
.title{
    height: 10%;
    line-height: 40px;
    font-size: 28px;
    font-weight: bold;
}
.img{
    margin-top: 20px; 
    background: url('../assets/Start.png') no-repeat center center;
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    background-size: 40% 100%;
     

}
.Lo_Re{
    margin-top: 25px;
    display: flex;
    height: 25%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login{
    margin-top: 25px;
    width: 90%;
}
.register{
    width: 90%;
    flex:0.5;
}
.lo{
    width:100%;
    height: 40px;
    border-radius: 20px ;
    /* background-color: #697CAD; */
    background-color: #757678;
    color: blanchedalmond;
    font-size: 18px;
    font-weight: bold;
}
.re{
    width:100%;
    height: 40px;
    border-radius: 20px ;
    /* background-color: #EA7D5B; */
    background-color: red;
    font-weight: bold;
    font-size: 18px;
    color: blanchedalmond;
}
</style>