<template>
  <div id="app">
    
      <!--
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
      -->
    
    <router-view/>
  </div>
</template>

<style>
html,body{
  margin: 0;
  padding: 0;
  background-color:  #F0F0F0
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  
 
}


</style>
